<li class="tab-link"  data-menu="service">
   <a href="/service/" data-hover="Services">Services</a>
   <!--Services Drop Down Menu starts here -->
   <div class="dropdown-wrapper tab-content">
      <div class="dropdown-inner">
         <div class="full-menu-wrapper">
            <div class="d_flex">
               <div class="full-menu-left">
                  <div class="naccs">
                     <div class="grid">
                        <div class="gc gc--1-of-3">
                           <div class="menu">
                              <div><span>Discover</span></div>
                              <div><span>Design</span></div>
                              <div class="active"><span>Engineer</span></div>
                              <div><span>Scale</span></div>
                           </div>
                        </div>
                        <div class="gc gc--2-of-3">
                           <ul class="nacc">
                              <li>
                                 <div class="last_child top_gap">
                                    <div class="flex_wrapper infographic_wrapper">
                                       <div class="left_icon_wrapper">
                                          <figure>
                                             <span class="scoping-session-head-ic"></span>
                                          </figure>
                                       </div>
                                       <div class="right_text_wrapper">
                                          <div class="heading4">
                                             <a href="/scoping-session/">Scoping sessions</a>
                                          </div>
                                          <p class="para">Enlighten our tech experts about your breakthrough idea in an intensive session. We characterise your product idea and define the Scope of work.
                                          </p>
                                       </div>
                                    </div>
                                    <!-- ends here -->
                                    <!-- starts here -->
                                    <div class="flex_wrapper infographic_wrapper">
                                       <div class="left_icon_wrapper">
                                          <figure>
                                             <span class="business-head-ic"></span>
                                          </figure>
                                       </div>
                                       <div class="right_text_wrapper">
                                          <div class="heading4">
                                             <a href="/business-analysis/">Business analysis</a>
                                          </div>
                                          <p class="para">We elicit business needs, study the competitive landscape, perform strategic analysis, and provide bespoke solutions.</p>
                                       </div>
                                    </div>
                                    <!-- ends here -->
                                    <!-- starts here -->
                                    <div class="flex_wrapper infographic_wrapper">
                                       <div class="left_icon_wrapper">
                                          <figure>
                                             <span class="product-discover-head-ic"></span>
                                          </figure>
                                       </div>
                                       <div class="right_text_wrapper">
                                          <div class="heading4">
                                             <a href="/discovery-workshop/">Product discovery workshop & design sprints</a>
                                          </div>
                                          <p class="para">Define your product strategy, prioritize features and visualize the end results with our strategic Discovery workshops. Validate assumptions with real users and find answers to most pressing concerns with Design Sprint. </p>
                                       </div>
                                    </div>
                                    <!-- ends here -->
                                 </div>
                              </li>
                              <li>
                                 <div class="last_child top_gap">
                                    <div class="flex_wrapper infographic_wrapper">
                                       <div class="left_icon_wrapper">
                                          <figure>
                                             <span class="ui-design-head-ic"></span>
                                          </figure>
                                       </div>
                                       <div class="right_text_wrapper">
                                          <div class="heading4">
                                             <a href="/ui-ux-design/">User Experience Design</a>
                                          </div>
                                          <p class="para">Seamlessly integrate branding, functionality, usability and accessibility into your product. We enhance user interaction and deliver experiences that are meaningful and delightful.
                                          </p>
                                       </div>
                                    </div>
                                    <!-- ends here -->
                                    <!-- starts here -->
                                    <div class="flex_wrapper infographic_wrapper">
                                       <div class="left_icon_wrapper">
                                          <figure>
                                             <span class="ux-design-head-ic"></span>
                                          </figure>
                                       </div>
                                       <div class="right_text_wrapper">
                                          <div class="heading4">
                                             <a href="/product-design/">User Interface Design</a>
                                          </div>
                                          <p class="para">We enhance usability and craft designs that are unconventional and intuitively guides users into a splendid visual journey.</p>
                                       </div>
                                    </div>
                                    <!-- ends here -->
                                    <!-- starts here -->
                                    <div class="flex_wrapper infographic_wrapper">
                                       <div class="left_icon_wrapper">
                                          <figure>
                                             <span class="ux-review-head-ic"></span>
                                          </figure>
                                       </div>
                                       <div class="right_text_wrapper">
                                          <div class="heading4">
                                             <a href="/ux-review/"> User Experience Review</a>
                                          </div>
                                          <p class="para">Identify usability issues, discuss UX improvements, and radically improve your digital product with our UX review sessions.</p>
                                       </div>
                                    </div>
                                    <!-- ends here -->
                                 </div>
                              </li>
                              <li class="active icons_rem">
                                 <div class="last_child top_gap">
                                    <div class="flex_wrapper">
                                       <!-- Cl-2 starts -->
                                       <div class="cl-2">
                                          <div class="cl-inner-flex">
                                             <div class="left_icon_wrapper">
                                                <figure>
                                                   <span class="ios-head-ic"></span>
                                                </figure>
                                             </div>
                                             <div class="right_text_wrapper">
                                                <div class="heading4">
                                                   <a href="/iphone-application-development/">iOS</a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="cl-inner-flex">
                                             <div class="left_icon_wrapper">
                                                <figure>
                                                   <span class="android-head-ic"></span>
                                                </figure>
                                             </div>
                                             <div class="right_text_wrapper">
                                                <div class="heading4">
                                                   <a href="/android-application-development/">Android</a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="cl-inner-flex">
                                             <div class="left_icon_wrapper">
                                                <figure>
                                                   <span class="blockchain-head-ic"></span>
                                                </figure>
                                             </div>
                                             <div class="right_text_wrapper">
                                                <div class="heading4">
                                                   <a href="/blockchain-application-development/"> Blockchain</a>
                                                </div>
                                                <div class="cl-list">
                                                   <div>Ethereum</div>
                                                   <div>Hyperledger Fabric</div>
                                                   <div>EOS</div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="cl-inner-flex">
                                             <div class="left_icon_wrapper">
                                                <figure>
                                                   <span class="flutter-head-ic"></span>
                                                </figure>
                                             </div>
                                             <div class="right_text_wrapper">
                                                <div class="heading4">
                                                   <a href="/flutter-app-development/">Flutter</a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- Cl-2 ends -->
                                       <!-- Cl-2 starts -->
                                       <div class="cl-2">
                                          <div class="cl-inner-flex">
                                             <div class="left_icon_wrapper">
                                                <figure>
                                                   <span class="react-native-head-ic"></span>
                                                </figure>
                                             </div>
                                             <div class="right_text_wrapper">
                                                <div class="heading4">
                                                   <a href="/react-native-app-development/">React native</a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="cl-inner-flex">
                                             <div class="left_icon_wrapper">
                                                <figure>
                                                   <span class="pwa-head-ic"></span>
                                                </figure>
                                             </div>
                                             <div class="right_text_wrapper">
                                                <div class="heading4">
                                                   <a href="/progressive-web-apps/">PWA</a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="cl-inner-flex">
                                             <div class="left_icon_wrapper">
                                                <figure>
                                                   <span class="wearable-head-ic"></span>
                                                </figure>
                                             </div>
                                             <div class="right_text_wrapper">
                                                <div class="heading4">
                                                   <a href="/wearable-devices-app-development/">Wearable</a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="cl-inner-flex">
                                             <div class="left_icon_wrapper">
                                                <figure>
                                                   <span class="ibeacon-head-ic"></span>
                                                </figure>
                                             </div>
                                             <div class="right_text_wrapper">
                                                <div class="heading4">
                                                   <a href="/ibeacon-app-development/">iBeacon</a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="cl-inner-flex">
                                             <div class="left_icon_wrapper">
                                                <figure>
                                                   <span class="ar-vr-head-ic"></span>
                                                </figure>
                                             </div>
                                             <div class="right_text_wrapper">
                                                <div class="heading4">
                                                   <a href="/ar-vr-app-development/">AR VR</a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="cl-inner-flex">
                                             <div class="left_icon_wrapper">
                                                <figure>
                                                   <span class="iot-head-ic"></span>
                                                </figure>
                                             </div>
                                             <div class="right_text_wrapper">
                                                <div class="heading4">
                                                   <a href="/iot-app-development/">Internet of Things</a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- Cl-2 ends -->
                                       <!-- Cl-2 starts -->
                                       <div class="cl-2">
                                          <div class="cl-inner-flex">
                                             <div class="left_icon_wrapper">
                                                <figure>
                                                   <span class="chatboat-head-ic"></span>
                                                </figure>
                                             </div>
                                             <div class="right_text_wrapper">
                                                <div class="heading4">
                                                   <a href="/chatbot-development/">Chatbots</a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="cl-inner-flex">
                                             <div class="left_icon_wrapper">
                                                <figure>
                                                   <span class="web-deve-head-ic"></span>
                                                </figure>
                                             </div>
                                             <div class="right_text_wrapper">
                                                <div class="heading4">
                                                   <a href="/web-app-development/">Web development</a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="cl-inner-flex">
                                             <div class="left_icon_wrapper">
                                                <figure>
                                                   <span class="qa-head-ic"></span>
                                                </figure>
                                             </div>
                                             <div class="right_text_wrapper">
                                                <div class="heading4">
                                                   <a href="/quality-assurance/">Quality assurance</a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- Cl-2 ends -->
                                    </div>
                                 </div>
                              </li>
                              <li>
                                 <div class="last_child top_gap">
                                    <div class="flex_wrapper infographic_wrapper">
                                       <div class="left_icon_wrapper">
                                          <figure>
                                             <span class="support-head-ic"></span>
                                          </figure>
                                       </div>
                                       <div class="right_text_wrapper">
                                          <div class="heading4">
                                             <a href="/coming-soon/">Support</a>
                                          </div>
                                          <p class="para">Make your app robust and secure. We provide pre-launch support and post- release maintenance to enhance your app’s productivity.
                                          </p>
                                       </div>
                                    </div>
                                    <!-- ends here -->
                                    <!-- starts here -->
                                    <div class="flex_wrapper infographic_wrapper">
                                       <div class="left_icon_wrapper">
                                          <figure>
                                             <span class="dev-ops-head-ic"></span>
                                          </figure>
                                       </div>
                                       <div class="right_text_wrapper">
                                          <div class="heading4">
                                             <a href="/coming-soon/">Dev Ops</a>
                                          </div>
                                          <p class="para">We seamlessly integrate continuous development, testing and deployment to release quality solutions quickly.</p>
                                       </div>
                                    </div>
                                    <!-- ends here -->
                                    <!-- starts here -->
                                    <div class="flex_wrapper infographic_wrapper">
                                       <div class="left_icon_wrapper">
                                          <figure>
                                             <span class="pro-launch-head-ic"></span>
                                          </figure>
                                       </div>
                                       <div class="right_text_wrapper">
                                          <div class="heading4">
                                             <a href="/coming-soon/">Product Launch and Growth Hacking</a>
                                          </div>
                                          <p class="para"> We outline low-budget innovative strategies, identify channels for rapid customer acquisition and scale businesses to new heights. </p>
                                       </div>
                                    </div>
                                    <!-- ends here -->
                                 </div>
                              </li>
                           </ul>
                           <div class="learn_more_wrapper clearfix">
                              <div class="container">
                                 <div class="learn_about">
                                    <span class="lm">Learn more about</span>
                                    <div class="appi-cta read_more_wrapper">
                                       <a href="/service/">
                                          <span class="text">
                                             Our Services
                                             <span class="arrow">
                                                <i><span>→</span></i>
                                                <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                                   <g fill="none" stroke="#FC7754" stroke-width="1.3" stroke-linejoin="round" stroke-miterlimit="10">
                                                      <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12">
                                                      </circle>
                                                   </g>
                                                </svg>
                                             </span>
                                          </span>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="full-menu-right">
                  <div class="last_child top_gap">
                     <!-- starts here -->
                     <div class="flex_wrapper infographic_wrapper">
                        <div class="left_icon_wrapper">
                           <figure>
                              <span class="full-cycle-head-ic"></span>
                           </figure>
                        </div>
                        <div class="right_text_wrapper">
                           <div class="heading4">
                              <a href="/full-cycle-app-development/">Full cycle product development</a>
                           </div>
                           <p class="para">We validate early and iterate often. From ideation to launch, we follow a holistic approach to full-cycle product development.</p>
                           <div class="appi-cta read_more_wrapper">
                              <a href="/full-cycle-app-development/">
                                 <span class="text">
                                    Know more
                                    <span class="arrow">
                                       <i><span>→</span></i>
                                       <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                          <g fill="none" stroke="#FC7754" stroke-width="1.3" stroke-linejoin="round" stroke-miterlimit="10">
                                             <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12">
                                             </circle>
                                          </g>
                                       </svg>
                                    </span>
                                 </span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- ends here -->
                     <!-- starts here -->
                     <div class="flex_wrapper infographic_wrapper">
                        <div class="left_icon_wrapper">
                           <figure>
                              <span class="labs-head-ic"></span>
                           </figure>
                        </div>
                        <div class="right_text_wrapper">
                           <div class="heading4">
                              <a href="/blog/category/lab/">Innovation Lab</a>
                           </div>
                           <p class="para">We are early adopters of disruptive technologies. Unravel unique insights on our technological know-how and thought leadership.</p>
                           <div class="appi-cta read_more_wrapper">
                              <a href="/blog/category/lab/">
                                 <span class="text">
                                    Know more
                                    <span class="arrow">
                                       <i><span>→</span></i>
                                       <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                          <g fill="none" stroke="#FC7754" stroke-width="1.3" stroke-linejoin="round" stroke-miterlimit="10">
                                             <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12">
                                             </circle>
                                          </g>
                                       </svg>
                                    </span>
                                 </span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- ends here -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--Services Drop Down Menu ends here -->
</li>