/*Bootstrap Css Start Here*/

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	margin: 0
}

aside,
footer,
header,
main,
menu,
nav,
section {
	display: block
}

[hidden] {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

b {
	font-weight: 700
}

h1 {
	margin: .67em 0;
	font-size: 2em
}

small {
	font-size: 80%
}

img {
	border: 0
}

hr {
	height: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

button,
input,
textarea {
	margin: 0;
	font: inherit;
	color: inherit
}

button {
	overflow: visible;
	border: 0
}

button {
	text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0
}

input {
	line-height: normal
}

input[type=checkbox],
input[type=radio] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto
}

input[type=search] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

textarea {
	overflow: auto
}

th {
	padding: 0
}


/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
	*,
	:after,
	:before {
		color: #000!important;
		text-shadow: none!important;
		background: 0 0!important;
		-webkit-box-shadow: none!important;
		box-shadow: none!important
	}
	a,
	a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: ""
	}
	img {
		page-break-inside: avoid
	}
	img {
		max-width: 100%!important
	}
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3
	}
	h2,
	h3 {
		page-break-after: avoid
	}
	.navbar {
		display: none
	}
	.label {
		border: 1px solid #000
	}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff
}

button,
input,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

a {
	color: #337ab7;
	text-decoration: none
}

a:focus,
a:hover {
	color: #23527c;
	text-decoration: underline
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

img {
	vertical-align: middle
}

.img-circle {
	border-radius: 50%
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}

[role=button] {
	cursor: pointer
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
	margin-top: 20px;
	margin-bottom: 10px
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
	margin-top: 10px;
	margin-bottom: 10px
}

.h1,
h1 {
	font-size: 36px
}

.h2,
h2 {
	font-size: 30px
}

.h3,
h3 {
	font-size: 24px
}

.h4,
h4 {
	font-size: 18px
}

.h5,
h5 {
	font-size: 14px
}

.h6,
h6 {
	font-size: 12px
}

p {
	margin: 0 0 10px
}

.small,
small {
	font-size: 85%
}

.text-right {
	text-align: right
}

.text-success {
	color: #3c763d
}

a.text-success:focus,
a.text-success:hover {
	color: #2b542c
}

ul {
	margin-top: 0;
	margin-bottom: 10px
}

ul ul {
	margin-bottom: 0
}

dl {
	margin-top: 0;
	margin-bottom: 20px
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:768px) {
	.container {
		width: 750px
	}
}

@media (min-width:992px) {
	.container {
		width: 970px
	}
}

@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}

.row {
	margin-right: -15px;
	margin-left: -15px
}

.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	float: left
}

.col-xs-12 {
	width: 100%
}

.col-xs-11 {
	width: 91.66666667%
}

.col-xs-10 {
	width: 83.33333333%
}

.col-xs-9 {
	width: 75%
}

.col-xs-8 {
	width: 66.66666667%
}

.col-xs-7 {
	width: 58.33333333%
}

.col-xs-6 {
	width: 50%
}

.col-xs-5 {
	width: 41.66666667%
}

.col-xs-4 {
	width: 33.33333333%
}

.col-xs-3 {
	width: 25%
}

.col-xs-2 {
	width: 16.66666667%
}

.col-xs-1 {
	width: 8.33333333%
}

.col-xs-push-12 {
	left: 100%
}

.col-xs-push-11 {
	left: 91.66666667%
}

.col-xs-push-10 {
	left: 83.33333333%
}

.col-xs-push-9 {
	left: 75%
}

.col-xs-push-8 {
	left: 66.66666667%
}

.col-xs-push-7 {
	left: 58.33333333%
}

.col-xs-push-6 {
	left: 50%
}

.col-xs-push-5 {
	left: 41.66666667%
}

.col-xs-push-4 {
	left: 33.33333333%
}

.col-xs-push-3 {
	left: 25%
}

.col-xs-push-2 {
	left: 16.66666667%
}

.col-xs-push-1 {
	left: 8.33333333%
}

.col-xs-push-0 {
	left: auto
}

@media (min-width:768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left
	}
	.col-sm-12 {
		width: 100%
	}
	.col-sm-11 {
		width: 91.66666667%
	}
	.col-sm-10 {
		width: 83.33333333%
	}
	.col-sm-9 {
		width: 75%
	}
	.col-sm-8 {
		width: 66.66666667%
	}
	.col-sm-7 {
		width: 58.33333333%
	}
	.col-sm-6 {
		width: 50%
	}
	.col-sm-5 {
		width: 41.66666667%
	}
	.col-sm-4 {
		width: 33.33333333%
	}
	.col-sm-3 {
		width: 25%
	}
	.col-sm-2 {
		width: 16.66666667%
	}
	.col-sm-1 {
		width: 8.33333333%
	}
	.col-sm-push-12 {
		left: 100%
	}
	.col-sm-push-11 {
		left: 91.66666667%
	}
	.col-sm-push-10 {
		left: 83.33333333%
	}
	.col-sm-push-9 {
		left: 75%
	}
	.col-sm-push-8 {
		left: 66.66666667%
	}
	.col-sm-push-7 {
		left: 58.33333333%
	}
	.col-sm-push-6 {
		left: 50%
	}
	.col-sm-push-5 {
		left: 41.66666667%
	}
	.col-sm-push-4 {
		left: 33.33333333%
	}
	.col-sm-push-3 {
		left: 25%
	}
	.col-sm-push-2 {
		left: 16.66666667%
	}
	.col-sm-push-1 {
		left: 8.33333333%
	}
	.col-sm-push-0 {
		left: auto
	}
}

@media (min-width:992px) {
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9 {
		float: left
	}
	.col-md-12 {
		width: 100%
	}
	.col-md-11 {
		width: 91.66666667%
	}
	.col-md-10 {
		width: 83.33333333%
	}
	.col-md-9 {
		width: 75%
	}
	.col-md-8 {
		width: 66.66666667%
	}
	.col-md-7 {
		width: 58.33333333%
	}
	.col-md-6 {
		width: 50%
	}
	.col-md-5 {
		width: 41.66666667%
	}
	.col-md-4 {
		width: 33.33333333%
	}
	.col-md-3 {
		width: 25%
	}
	.col-md-2 {
		width: 16.66666667%
	}
	.col-md-1 {
		width: 8.33333333%
	}
	.col-md-push-12 {
		left: 100%
	}
	.col-md-push-11 {
		left: 91.66666667%
	}
	.col-md-push-10 {
		left: 83.33333333%
	}
	.col-md-push-9 {
		left: 75%
	}
	.col-md-push-8 {
		left: 66.66666667%
	}
	.col-md-push-7 {
		left: 58.33333333%
	}
	.col-md-push-6 {
		left: 50%
	}
	.col-md-push-5 {
		left: 41.66666667%
	}
	.col-md-push-4 {
		left: 33.33333333%
	}
	.col-md-push-3 {
		left: 25%
	}
	.col-md-push-2 {
		left: 16.66666667%
	}
	.col-md-push-1 {
		left: 8.33333333%
	}
	.col-md-push-0 {
		left: auto
	}
}

th {
	text-align: left
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700
}

input[type=search] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

input[type=checkbox],
input[type=radio] {
	margin: 4px 0 0;
	line-height: normal
}

input[type=file] {
	display: block
}

input[type=range] {
	display: block;
	width: 100%
}

input[type=checkbox]:focus,
input[type=file]:focus,
input[type=radio]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
	color: #999;
	opacity: 1
}

.form-control:-ms-input-placeholder {
	color: #999
}

.form-control::-webkit-input-placeholder {
	color: #999
}

.form-control::-ms-expand {
	background-color: transparent;
	border: 0
}

.form-control[disabled],
.form-control[readonly] {
	background-color: #eee;
	opacity: 1
}

.form-control[disabled] {
	cursor: not-allowed
}

textarea.form-control {
	height: auto
}

input[type=search] {
	-webkit-appearance: none
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type=date].form-control,
	input[type=datetime-local].form-control,
	input[type=month].form-control,
	input[type=time].form-control {
		line-height: 34px
	}
	.input-group-sm input[type=date],
	.input-group-sm input[type=datetime-local],
	.input-group-sm input[type=month],
	.input-group-sm input[type=time],
	input[type=date].input-sm,
	input[type=datetime-local].input-sm,
	input[type=month].input-sm,
	input[type=time].input-sm {
		line-height: 30px
	}
}

.form-group {
	margin-bottom: 15px
}

.checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px
}

.checkbox label {
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer
}

.checkbox input[type=checkbox] {
	position: absolute;
	margin-left: -20px
}

.checkbox+.checkbox {
	margin-top: -5px
}

input[type=checkbox][disabled],
input[type=radio][disabled] {
	cursor: not-allowed
}

.form-control-static {
	min-height: 34px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 0
}

.form-control-static.input-sm {
	padding-right: 0;
	padding-left: 0
}

.input-sm {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

textarea.input-sm {
	height: auto
}

.form-group-sm .form-control {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.form-group-sm textarea.form-control {
	height: auto
}

.form-group-sm .form-control-static {
	height: 30px;
	min-height: 32px;
	padding: 6px 10px;
	font-size: 12px;
	line-height: 1.5
}

.form-control-feedback {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: none
}

.form-group-sm .form-control+.form-control-feedback,
.input-group-sm+.form-control-feedback,
.input-sm+.form-control-feedback {
	width: 30px;
	height: 30px;
	line-height: 30px
}

.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #737373
}

.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear
}

.fade.in {
	opacity: 1
}

.collapse {
	display: none
}

.collapse.in {
	display: block
}

.dropdown {
	position: relative
}

.dropdown-toggle:focus {
	outline: 0
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5
}

.open>.dropdown-menu {
	display: block
}

.open>a {
	outline: 0
}

.dropdown-menu-right {
	right: 0;
	left: auto
}

.dropdown-header {
	display: block;
	padding: 3px 20px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #777;
	white-space: nowrap
}

.dropdown-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 990
}

.navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 2px
}

@media (min-width:768px) {
	.navbar-right .dropdown-menu {
		right: 0;
		left: auto
	}
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate
}

.input-group[class*=col-] {
	float: none;
	padding-right: 0;
	padding-left: 0
}

.input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0
}

.input-group .form-control:focus {
	z-index: 3
}

.input-group-sm>.form-control {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

textarea.input-group-sm>.form-control {
	height: auto
}

.input-group .form-control {
	display: table-cell
}

.input-group .form-control:not(:first-child):not(:last-child) {
	border-radius: 0
}

.input-group .form-control:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.input-group .form-control:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.nav>li {
	position: relative;
	display: block
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px
}

.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	background-color: #eee
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	background-color: #eee;
	border-color: #337ab7
}

.nav>li>a>img {
	max-width: none
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent
}

@media (min-width:768px) {
	.navbar {
		border-radius: 4px
	}
}

@media (min-width:768px) {
	.navbar-header {
		float: left
	}
}

.navbar-collapse {
	padding-right: 15px;
	padding-left: 15px;
	overflow-x: visible;
	-webkit-overflow-scrolling: touch;
	border-top: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
}

.navbar-collapse.in {
	overflow-y: auto
}

@media (min-width:768px) {
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none
	}
	.navbar-collapse.collapse {
		display: block!important;
		height: auto!important;
		padding-bottom: 0;
		overflow: visible!important
	}
	.navbar-collapse.in {
		overflow-y: visible
	}
	.navbar-fixed-bottom .navbar-collapse,
	.navbar-fixed-top .navbar-collapse,
	.navbar-static-top .navbar-collapse {
		padding-right: 0;
		padding-left: 0
	}
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
	max-height: 340px
}

@media (max-device-width:480px) and (orientation:landscape) {
	.navbar-fixed-bottom .navbar-collapse,
	.navbar-fixed-top .navbar-collapse {
		max-height: 200px
	}
}

.container>.navbar-collapse,
.container>.navbar-header {
	margin-right: -15px;
	margin-left: -15px
}

@media (min-width:768px) {
	.container>.navbar-collapse,
	.container>.navbar-header {
		margin-right: 0;
		margin-left: 0
	}
}

.navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px
}

@media (min-width:768px) {
	.navbar-static-top {
		border-radius: 0
	}
}

.navbar-fixed-bottom,
.navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030
}

@media (min-width:768px) {
	.navbar-fixed-bottom,
	.navbar-fixed-top {
		border-radius: 0
	}
}

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px
}

.navbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0;
	border-width: 1px 0 0
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px
}

.navbar-brand:focus,
.navbar-brand:hover {
	text-decoration: none
}

.navbar-brand>img {
	display: block
}

@media (min-width:768px) {
	.navbar>.container .navbar-brand {
		margin-left: -15px
	}
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}

.navbar-toggle:focus {
	outline: 0
}

@media (min-width:768px) {
	.navbar-toggle {
		display: none
	}
}

.navbar-nav {
	margin: 7.5px -15px
}

.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px
}

@media (max-width:767px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none
	}
	.navbar-nav .open .dropdown-menu .dropdown-header,
	.navbar-nav .open .dropdown-menu>li>a {
		padding: 5px 15px 5px 25px
	}
	.navbar-nav .open .dropdown-menu>li>a {
		line-height: 20px
	}
	.navbar-nav .open .dropdown-menu>li>a:focus,
	.navbar-nav .open .dropdown-menu>li>a:hover {
		background-image: none
	}
}

@media (min-width:768px) {
	.navbar-nav {
		float: left;
		margin: 0
	}
	.navbar-nav>li {
		float: left
	}
	.navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px
	}
}

.navbar-form {
	padding: 10px 15px;
	margin-top: 8px;
	margin-right: -15px;
	margin-bottom: 8px;
	margin-left: -15px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1)
}

@media (min-width:768px) {
	.navbar-form .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle
	}
	.navbar-form .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle
	}
	.navbar-form .form-control-static {
		display: inline-block
	}
	.navbar-form .input-group {
		display: inline-table;
		vertical-align: middle
	}
	.navbar-form .input-group .form-control {
		width: auto
	}
	.navbar-form .input-group>.form-control {
		width: 100%
	}
	.navbar-form .control-label {
		margin-bottom: 0;
		vertical-align: middle
	}
	.navbar-form .checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle
	}
	.navbar-form .checkbox label {
		padding-left: 0
	}
	.navbar-form .checkbox input[type=checkbox] {
		position: relative;
		margin-left: 0
	}
}

@media (max-width:767px) {
	.navbar-form .form-group {
		margin-bottom: 5px
	}
	.navbar-form .form-group:last-child {
		margin-bottom: 0
	}
}

@media (min-width:768px) {
	.navbar-form {
		width: auto;
		padding-top: 0;
		padding-bottom: 0;
		margin-right: 0;
		margin-left: 0;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none
	}
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu {
	margin-bottom: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

.navbar-text {
	margin-top: 15px;
	margin-bottom: 15px
}

@media (min-width:768px) {
	.navbar-text {
		float: left;
		margin-right: 15px;
		margin-left: 15px
	}
}

@media (min-width:768px) {
	.navbar-right {
		float: right!important;
		margin-right: -15px
	}
	.navbar-right~.navbar-right {
		margin-right: 0
	}
}

.navbar-default {
	background-color: #f8f8f8;
	border-color: #e7e7e7
}

.navbar-default .navbar-brand {
	color: #777
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
	color: #5e5e5e;
	background-color: transparent
}

.navbar-default .navbar-text {
	color: #777
}

.navbar-default .navbar-nav>li>a {
	color: #777
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #333;
	background-color: transparent
}

.navbar-default .navbar-toggle {
	border-color: #ddd
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: #ddd
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #e7e7e7
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	color: #555;
	background-color: #e7e7e7
}

@media (max-width:767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #777
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #333;
		background-color: transparent
	}
}

.navbar-default .navbar-link {
	color: #777
}

.navbar-default .navbar-link:hover {
	color: #333
}

.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em
}

a.label:focus,
a.label:hover {
	color: #fff;
	text-decoration: none;
	cursor: pointer
}

.label:empty {
	display: none
}

.label-default {
	background-color: #777
}

.label-default[href]:focus,
.label-default[href]:hover {
	background-color: #5e5e5e
}

.label-success {
	background-color: #5cb85c
}

.label-success[href]:focus,
.label-success[href]:hover {
	background-color: #449d44
}

@-webkit-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0
	}
	to {
		background-position: 0 0
	}
}

@-o-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0
	}
	to {
		background-position: 0 0
	}
}

@keyframes progress-bar-stripes {
	from {
		background-position: 40px 0
	}
	to {
		background-position: 0 0
	}
}

.media {
	margin-top: 15px
}

.media:first-child {
	margin-top: 0
}

.media,
.media-body {
	overflow: hidden;
	zoom: 1
}

.media-body {
	width: 10000px
}

.media-right {
	padding-left: 10px
}

.media-body,
.media-right {
	display: table-cell;
	vertical-align: top
}

.media-middle {
	vertical-align: middle
}

.media-bottom {
	vertical-align: bottom
}

.media-heading {
	margin-top: 0;
	margin-bottom: 5px
}

.media-list {
	padding-left: 0;
	list-style: none
}

.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2
}

.close:focus,
.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .5
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0
}

.modal-open {
	overflow: hidden
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0
}

.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%)
}

.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0)
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px
}

.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000
}

.modal-backdrop.fade {
	opacity: 0
}

.modal-backdrop.in {
	opacity: .5
}

.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
	margin-top: -2px
}

.modal-title {
	margin: 0;
	line-height: 1.42857143
}

.modal-body {
	position: relative;
	padding: 15px
}

.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5
}

@media (min-width:768px) {
	.modal-dialog {
		width: 600px;
		margin: 30px auto
	}
	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
	}
	.modal-sm {
		width: 300px
	}
}

.clearfix:after,
.clearfix:before,
.container:after,
.container:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.row:after,
.row:before {
	display: table;
	content: " "
}

.clearfix:after,
.container:after,
.modal-footer:after,
.modal-header:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.row:after {
	clear: both
}

.show {
	display: block!important
}

.hidden {
	display: none!important
}

@media (max-width:767px) {
	.hidden-xs {
		display: none!important
	}
}

@media (min-width:768px) and (max-width:991px) {
	.hidden-sm {
		display: none!important
	}
}

@media (min-width:992px) and (max-width:1199px) {
	.hidden-md {
		display: none!important
	}
}


/*Bootstrap Css End Here*/


/*Font Awesome Start Here*/

@font-face {
	font-family: FontAwesome;
	src: url(../fonts/fontawesome-webfont.eot?v=4.7.0);
	src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format('embedded-opentype'), url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format('woff2'), url(../fonts/fontawesome-webfont.woff?v=4.7.0) format('woff'), url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format('truetype'), url(../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format('svg');
	font-weight: 400;
	font-style: normal
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.fa-2x {
	font-size: 2em
}

.fa-3x {
	font-size: 3em
}

.fa-4x {
	font-size: 4em
}

.fa-5x {
	font-size: 5em
}

.fa-ul {
	padding-left: 0;
	margin-left: 2.14285714em;
	list-style-type: none
}

.fa-ul>li {
	position: relative
}

.fa-li {
	position: absolute;
	left: -2.14285714em;
	width: 2.14285714em;
	top: .14285714em;
	text-align: center
}

.fa-border {
	padding: .2em .25em .15em;
	border: solid .08em #eee;
	border-radius: .1em
}

@-webkit-keyframes fa-spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes fa-spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

.fa-glass:before {
	content: "\f000"
}

.fa-search:before {
	content: "\f002"
}

.fa-envelope-o:before {
	content: "\f003"
}

.fa-heart:before {
	content: "\f004"
}

.fa-star:before {
	content: "\f005"
}

.fa-star-o:before {
	content: "\f006"
}

.fa-th:before {
	content: "\f00a"
}

.fa-th-list:before {
	content: "\f00b"
}

.fa-close:before,
.fa-times:before {
	content: "\f00d"
}

.fa-home:before {
	content: "\f015"
}

.fa-clock-o:before {
	content: "\f017"
}

.fa-arrow-circle-o-down:before {
	content: "\f01a"
}

.fa-list-alt:before {
	content: "\f022"
}

.fa-tag:before {
	content: "\f02b"
}

.fa-font:before {
	content: "\f031"
}

.fa-text-height:before {
	content: "\f034"
}

.fa-text-width:before {
	content: "\f035"
}

.fa-list:before {
	content: "\f03a"
}

.fa-image:before {
	content: "\f03e"
}

.fa-share-square-o:before {
	content: "\f045"
}

.fa-stop:before {
	content: "\f04d"
}

.fa-times-circle:before {
	content: "\f057"
}

.fa-times-circle-o:before {
	content: "\f05c"
}

.fa-arrow-right:before {
	content: "\f061"
}

.fa-arrow-down:before {
	content: "\f063"
}

.fa-share:before {
	content: "\f064"
}

.fa-twitter-square:before {
	content: "\f081"
}

.fa-facebook-square:before {
	content: "\f082"
}

.fa-key:before {
	content: "\f084"
}

.fa-heart-o:before {
	content: "\f08a"
}

.fa-linkedin-square:before {
	content: "\f08c"
}

.fa-phone:before {
	content: "\f095"
}

.fa-square-o:before {
	content: "\f096"
}

.fa-phone-square:before {
	content: "\f098"
}

.fa-twitter:before {
	content: "\f099"
}

.fa-facebook-f:before,
.fa-facebook:before {
	content: "\f09a"
}

.fa-certificate:before {
	content: "\f0a3"
}

.fa-arrow-circle-right:before {
	content: "\f0a9"
}

.fa-arrow-circle-down:before {
	content: "\f0ab"
}

.fa-globe:before {
	content: "\f0ac"
}

.fa-group:before,
.fa-users:before {
	content: "\f0c0"
}

.fa-link:before {
	content: "\f0c1"
}

.fa-cut:before {
	content: "\f0c4"
}

.fa-copy:before {
	content: "\f0c5"
}

.fa-square:before {
	content: "\f0c8"
}

.fa-list-ul:before {
	content: "\f0ca"
}

.fa-pinterest:before {
	content: "\f0d2"
}

.fa-pinterest-square:before {
	content: "\f0d3"
}

.fa-envelope:before {
	content: "\f0e0"
}

.fa-linkedin:before {
	content: "\f0e1"
}

.fa-sitemap:before {
	content: "\f0e8"
}

.fa-paste:before {
	content: "\f0ea"
}

.fa-coffee:before {
	content: "\f0f4"
}

.fa-building-o:before {
	content: "\f0f7"
}

.fa-h-square:before {
	content: "\f0fd"
}

.fa-angle-right:before {
	content: "\f105"
}

.fa-angle-down:before {
	content: "\f107"
}

.fa-angle-up:before {
	content: "\f106"
}

.fa-mobile-phone:before,
.fa-mobile:before {
	content: "\f10b"
}

.fa-circle-o:before {
	content: "\f10c"
}

.fa-quote-right:before {
	content: "\f10e"
}

.fa-circle:before {
	content: "\f111"
}

.fa-keyboard-o:before {
	content: "\f11c"
}

.fa-code:before {
	content: "\f121"
}

.fa-location-arrow:before {
	content: "\f124"
}

.fa-html5:before {
	content: "\f13b"
}

.fa-css3:before {
	content: "\f13c"
}

.fa-level-down:before {
	content: "\f149"
}

.fa-share-square:before {
	content: "\f14d"
}

.fa-toggle-down:before {
	content: "\f150"
}

.fa-toggle-right:before {
	content: "\f152"
}

.fa-won:before {
	content: "\f159"
}

.fa-youtube-square:before {
	content: "\f166"
}

.fa-youtube:before {
	content: "\f167"
}

.fa-instagram:before {
	content: "\f16d"
}

.fa-android:before {
	content: "\f17b"
}

.fa-dribbble:before {
	content: "\f17d"
}

.fa-arrow-circle-o-right:before {
	content: "\f18e"
}

.fa-envelope-square:before {
	content: "\f199"
}

.fa-google:before {
	content: "\f1a0"
}

.fa-language:before {
	content: "\f1ab"
}

.fa-building:before {
	content: "\f1ad"
}

.fa-behance:before {
	content: "\f1b4"
}

.fa-behance-square:before {
	content: "\f1b5"
}

.fa-support:before {
	content: "\f1cd"
}

.fa-send:before {
	content: "\f1d8"
}

.fa-send-o:before {
	content: "\f1d9"
}

.fa-header:before {
	content: "\f1dc"
}

.fa-share-alt:before {
	content: "\f1e0"
}

.fa-share-alt-square:before {
	content: "\f1e1"
}

.fa-at:before {
	content: "\f1fa"
}

.fa-toggle-off:before {
	content: "\f204"
}

.fa-toggle-on:before {
	content: "\f205"
}

.fa-cc:before {
	content: "\f20a"
}

.fa-pinterest-p:before {
	content: "\f231"
}

.fa-medium:before {
	content: "\f23a"
}

.fa-500px:before {
	content: "\f26e"
}

.fa-industry:before {
	content: "\f275"
}

.fa-edge:before {
	content: "\f282"
}

.fa-stop-circle:before {
	content: "\f28d"
}

.fa-stop-circle-o:before {
	content: "\f28e"
}

.fa-fa:before,
.fa-font-awesome:before {
	content: "\f2b4"
}

.fa-envelope-open:before {
	content: "\f2b6"
}

.fa-envelope-open-o:before {
	content: "\f2b7"
}

.fa-s15:before {
	content: "\f2cd"
}

.fa-window-close:before {
	content: "\f2d3"
}

.fa-window-close-o:before {
	content: "\f2d4"
}


/*Font Awesome End Here*/


/*Owl Start Here*/

.owl-carousel .animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
	z-index: 0
}

.owl-carousel .owl-animated-out {
	z-index: 1
}

.owl-carousel .fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

.owl-height {
	-webkit-transition: height .5s ease-in-out;
	-moz-transition: height .5s ease-in-out;
	-ms-transition: height .5s ease-in-out;
	-o-transition: height .5s ease-in-out;
	transition: height .5s ease-in-out
}

.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1
}

.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y
}

.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-controls .owl-dot,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.owl-carousel.owl-loaded {
	display: block
}

.owl-carousel.owl-loading {
	opacity: 0;
	display: block
}

.owl-carousel.owl-hidden {
	opacity: 0
}

.owl-carousel .owl-refresh .owl-item {
	display: none
}

.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.owl-carousel .owl-item img {
	display: block;
	width: 100%;
	-webkit-transform-style: preserve-3d
}

.owl-carousel.owl-text-select-on .owl-item {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto
}

.owl-carousel .owl-grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -o-grab;
	cursor: -ms-grab;
	cursor: grab
}

.owl-carousel.owl-rtl {
	direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
	float: right
}

.no-js .owl-carousel {
	display: block
}

.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	-webkit-transition: opacity .4s ease;
	-moz-transition: opacity .4s ease;
	-ms-transition: opacity .4s ease;
	-o-transition: opacity .4s ease;
	transition: opacity .4s ease
}

.owl-carousel .owl-item img {
	transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000
}

.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	background: url(owl.video.play.png) no-repeat;
	cursor: pointer;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transition: scale .1s ease;
	-moz-transition: scale .1s ease;
	-ms-transition: scale .1s ease;
	-o-transition: scale .1s ease;
	transition: scale .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
	-webkit-transition: scale(1.3, 1.3);
	-moz-transition: scale(1.3, 1.3);
	-ms-transition: scale(1.3, 1.3);
	-o-transition: scale(1.3, 1.3);
	transition: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
	display: none
}

.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	-webkit-transition: opacity .4s ease;
	-moz-transition: opacity .4s ease;
	-ms-transition: opacity .4s ease;
	-o-transition: opacity .4s ease;
	transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1
}


/*Owl End*/


/*Full Page Css Start Here*/

.fp-enabled body,
html.fp-enabled {
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent
}

#superContainer {
	height: 100%;
	position: relative;
	-ms-touch-action: none;
	touch-action: none
}

.fp-section {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.fp-slide {
	float: left
}

.fp-slide,
.fp-slidesContainer {
	height: 100%;
	display: block
}

.fp-slides {
	z-index: 1;
	height: 100%;
	overflow: hidden;
	position: relative;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out
}

.fp-section.fp-table,
.fp-slide.fp-table {
	display: table;
	table-layout: fixed;
	width: 100%
}

.fp-tableCell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%
}

.fp-slidesContainer {
	float: left;
	position: relative
}

.fp-controlArrow {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	position: absolute;
	z-index: 4;
	top: 50%;
	cursor: pointer;
	width: 0;
	height: 0;
	border-style: solid;
	margin-top: -38px;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.fp-controlArrow.fp-prev {
	left: 15px;
	width: 0;
	border-width: 38.5px 34px 38.5px 0;
	border-color: transparent #fff transparent transparent
}

.fp-controlArrow.fp-next {
	right: 15px;
	border-width: 38.5px 0 38.5px 34px;
	border-color: transparent transparent transparent #fff
}

.fp-scrollable {
	overflow: hidden;
	position: relative
}

.fp-scroller {
	overflow: hidden
}

.iScrollIndicator {
	border: 0!important
}

.fp-notransition {
	-webkit-transition: none!important;
	transition: none!important
}

#fp-nav {
	position: fixed;
	z-index: 100;
	margin-top: -32px;
	top: 50%;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0)
}

#fp-nav.right {
	right: 17px
}

#fp-nav.left {
	left: 17px
}

.fp-slidesNav {
	position: absolute;
	z-index: 4;
	left: 50%;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.fp-slidesNav.bottom {
	bottom: 17px
}

.fp-slidesNav.top {
	top: 17px
}

#fp-nav ul,
.fp-slidesNav ul {
	margin: 0;
	padding: 0
}

#fp-nav ul li,
.fp-slidesNav ul li {
	display: block;
	width: 14px;
	height: 13px;
	margin: 7px;
	position: relative
}

.fp-slidesNav ul li {
	display: inline-block
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
	height: 12px;
	width: 12px;
	margin: -6px 0 0 -6px;
	border-radius: 100%
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	height: 4px;
	width: 4px;
	border: 0;
	background: #333;
	left: 50%;
	top: 50%;
	margin: -2px 0 0 -2px;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
	width: 10px;
	height: 10px;
	margin: -5px 0 0 -5px
}

#fp-nav ul li .fp-tooltip {
	position: absolute;
	top: -2px;
	color: #fff;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	white-space: nowrap;
	max-width: 220px;
	overflow: hidden;
	display: block;
	opacity: 0;
	width: 0;
	cursor: pointer
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active+.fp-tooltip {
	-webkit-transition: opacity .2s ease-in;
	transition: opacity .2s ease-in;
	width: auto;
	opacity: 1
}

#fp-nav ul li .fp-tooltip.right {
	right: 20px
}

#fp-nav ul li .fp-tooltip.left {
	left: 20px
}

.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell,
.fp-auto-height.fp-section {
	height: auto!important
}

.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell,
.fp-responsive .fp-auto-height-responsive.fp-section {
	height: auto!important
}


/*Full Page Css End Here*/


/*App Slider Section Start Here*/

.o-container {
	position: relative;
	z-index: 2
}

@media (max-width:699px) {
	.o-container {
		margin-left: 24px;
		margin-right: 24px
	}
}

@media (min-width:700px) {
	.o-container {
		margin-right: 9rem;
		margin-left: 9rem
	}
}

.o-container.-full {
	height: 100%
}

@media (min-width:700px) and (max-width:1199px) {
	.o-container.-small {
		margin: 0 9rem
	}
}

@media (min-width:1200px) {
	.o-container.-small {
		margin: 0 18rem
	}
}

@media (min-width:700px) and (max-width:1199px) {
	.o-container.-medium {
		margin: 0 11.25rem
	}
}

@media (min-width:1200px) {
	.o-container.-medium {
		margin: 0 13.5rem
	}
}

@media (max-width:699px) {
	.o-container.-fullmobile {
		margin: -24px
	}
}

@media (min-width:700px) and (max-width:999px) {
	.o-container.-fullmobile {
		margin: 0
	}
}

.o-layout {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	margin-left: 0
}

.o-layout.-flex {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.o-layout.-flex.-top {
	-ms-flex-align: start;
	align-items: flex-start
}

.o-layout.-flex.-middle {
	-ms-flex-align: center;
	align-items: center
}

.o-layout.-flex.-bottom {
	-ms-flex-align: end;
	align-items: flex-end
}

@media (min-width:700px) {
	.o-layout.-flex\@from-small {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
}

.o-layout.-stretch {
	-ms-flex-align: stretch;
	align-items: stretch
}

@media (min-width:1000px) {
	.o-layout.-full {
		height: 100%
	}
}

.o-layout_item {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	font-size: 1rem;
	padding-left: 0
}

@media (min-width:700px) {
	.o-layout.-gutter>.o-layout_item {
		padding-left: 4.5rem
	}
}

@media (min-width:700px) and (max-width:999px) {
	.o-layout.-gutter>.o-layout_item {
		padding-left: 2.25rem
	}
}

@media (min-width:1000px) {
	.o-layout.-full>.o-layout_item {
		height: 100%
	}
}

@media (min-width:700px) {
	.o-layout.-height>.o-layout_item {
		height: 100%
	}
}

.o-layout.-relative>.o-layout_item {
	position: relative
}

@media (min-width:1000px) {
	.o-layout_item.-aside {
		width: 30%
	}
}

@media (min-width:1000px) {
	.o-layout_item.-main {
		width: 70%
	}
}

@keyframes b {
	0% {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}

@keyframes c {
	0% {
		transform: scale(.2)
	}
	to {
		transform: scale(1)
	}
}

.o-background {
	background-size: cover;
	background-position: 30%
}

@media (max-width:2400px) {
	.o-background {
		background-position: 50%
	}
}

@media (max-width:1170px) {
	.o-background {
		background-position: 0
	}
}

.o-background,
.o-background.-overlay:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.o-background.-overlay:after {
	content: "";
	background-color: #3a3c44;
	opacity: .5
}

.o-background.-overflow {
	overflow: hidden
}

.o-background.-parallax {
	top: -.9375rem;
	bottom: -.9375rem
}

.o-line {
	position: absolute;
	z-index: 1;
	pointer-events: none
}

.o-line.-v {
	top: 0;
	bottom: 0;
	width: 1px;
	background-color: rgba(255, 255, 255, .2)
}

@media (max-width:699px) {
	.o-line.-r {
		right: 33.33333%
	}
}

@media (min-width:700px) {
	.o-line.-r {
		right: 9rem
	}
}

@media (max-width:699px) {
	.o-line.-l {
		left: 33.33333%
	}
}

@media (min-width:700px) {
	.o-line.-l {
		left: 9rem
	}
}

@media (max-width:699px) {
	.o-line.-c {
		display: none
	}
}

@media (min-width:700px) {
	.o-line.-c {
		left: 50%
	}
}

@media (max-width:1199px) {
	.o-line {
		position: absolute
	}
}

.slick-slider {
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}

.slick-list,
.slick-slider {
	position: relative;
	display: block
}

.slick-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
	cursor: -webkit-grab;
	cursor: grab
}

.slick-list:focus {
	outline: 0
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
	transform: translateZ(0)
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%
}

.slick-track:after,
.slick-track:before {
	content: "";
	display: table
}

.slick-track:after {
	clear: both
}

.slick-loading .slick-track {
	visibility: hidden
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	outline: 0;
	display: none
}

[dir=rtl] .slick-slide {
	float: right
}

.slick-slide img {
	display: block
}

.slick-slide.slick-loading img {
	display: none
}

.slick-slide.dragging img {
	pointer-events: none
}

.slick-initialized .slick-slide {
	display: block
}

.slick-loading .slick-slide {
	visibility: hidden
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}

.slick-arrow.slick-hidden {
	display: none
}

.c-carousel-header {
	color: #fff
}

@media (max-width:999px) {
	.c-carousel-header .slick-track {
		display: -ms-flexbox;
		display: flex
	}
}

@media (max-width:699px) {
	.c-carousel-header {
		margin-bottom: 30px
	}
}

@media (min-width:700px) and (max-width:999px) {
	.c-carousel-header {
		margin-bottom: 3.75rem
	}
}

@media (min-width:1000px) {
	.c-carousel-header {
		height: 100vh
	}
}

.c-carousel-header .slick-list {
	cursor: auto
}

.c-carousel-header-wrap {
	position: relative
}

.c-carousel-header_slide {
	text-align: center;
	padding-top: 9rem;
	transition: opacity 0s .45s!important;
	opacity: 1!important;
	position: absolute;
	top: 0;
	left: 0
}

.has-promo .c-carousel-header_slide {
	padding-top: 11.25rem
}

@media (max-width:699px) {
	.c-carousel-header_slide {
		padding-bottom: 30px;
		min-height: 450px
	}
}

@media (min-width:700px) and (max-width:999px) {
	.c-carousel-header_slide {
		min-height: 600px
	}
}

@media (max-width:999px) {
	.c-carousel-header_slide {
		height: auto;
		display: -ms-flexbox!important;
		display: flex!important;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-align: center;
		align-items: center
	}
}

@media (min-width:1000px) {
	.c-carousel-header_slide {
		height: 100%
	}
}

@media (min-width:700px) and (max-width:999px) {
	.c-carousel-header_slide {
		padding-bottom: 120px
	}
}

.c-carousel-header_slide.slick-slide,
.c-carousel-header_slide:first-child {
	position: relative
}

.c-carousel-header_slide.is-current {
	transition-delay: 0s!important
}

.c-carousel-header_container {
	position: relative;
	text-align: left
}

@media (min-width:1000px) {
	.c-carousel-header_container {
		height: calc(100% - 4.5rem)
	}
}

.c-carousel-header_container.-opacity {
	opacity: 0;
	transition: opacity 0s .6s
}

.has-dom-animated .is-current .c-carousel-header_container.-opacity,
.has-dom-animated .slick-active .c-carousel-header_container.-opacity {
	opacity: 1;
	transition-delay: 0s
}

.c-carousel-header_container.-overflow {
	overflow: hidden
}

.c-carousel-header_item {
	font-size: 0
}

.c-carousel-header_item:before {
	display: inline-block;
	height: 100%;
	content: "";
	vertical-align: middle
}

.c-carousel-header_item>* {
	display: inline-block;
	vertical-align: middle
}

.c-carousel-header_quote {
	position: relative;
	letter-spacing: -.02em;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	line-height: 1.13333
}

@media (max-width:699px) {
	.c-carousel-header_quote {
		margin-top: 70px
	}
}

@media (min-width:700px) and (max-width:999px) {
	.c-carousel-header_quote {
		margin-top: 100px
	}
}

@media (max-width:999px) {
	.c-carousel-header_quote:before {
		top: -77px;
		left: 50%;
		font-size: 130px;
		margin-left: -24px
	}
}

@media (min-width:1000px) {
	.c-carousel-header_quote:before {
		top: -3.75rem;
		left: -5.625rem;
		font-size: 8.4375rem
	}
}

.has-dom-animated .is-current .c-carousel-header_quote:before,
.has-dom-animated .slick-active .c-carousel-header_quote:before {
	opacity: 1;
	transform: translateX(0)
}

.c-carousel-header_quote_main {
	overflow: hidden
}

.c-carousel-header_quote_text {
	font-family: Raleway, sans-serif;
	font-weight: 500;
	transform: translateX(100%);
	transition: transform 1.2s cubic-bezier(.4, 0, 0, 1);
	margin-left: .3125rem
}

@media (max-width:699px) {
	.c-carousel-header_quote_text {
		font-size: 31px;
		min-height: 105px
	}
}

@media (min-width:700px) and (max-width:999px) {
	.c-carousel-header_quote_text {
		min-height: 165px
	}
}

.c-carousel-header_quote_text {
	font-size: 34px;
	line-height: 60px;
	max-width: 90%
}

@media (min-width:700px) and (max-width:1800px) {
	.c-carousel-header_quote_text {
		font-size: 30px;
		line-height: 54px
	}
}

@media (max-width:1600px) {
	.c-carousel-header_quote_text {
		font-size: 28px;
		line-height: 50px
	}
}

@media (max-width:1500px) {
	.c-carousel-header_quote_text {
		font-size: 26px;
		line-height: 46px;
		max-width: 100%
	}
}

@media (max-width:1400px) {
	.c-carousel-header_quote_text {
		font-size: 24px;
		line-height: 40px
	}
}

@media (max-width:1320px) {
	.c-carousel-header_quote_text {
		font-size: 20px;
		line-height: 36px
	}
	.c-carousel-header_quote {
		padding-top: 35px
	}
	.arrowCircle {
		width: 300px;
		height: 300px;
		right: -60px;
		bottom: -130px
	}
}

@media (max-width:1220px) {
	.c-carousel-header_quote_text {
		font-size: 18px
	}
	.c-carousel-header_quote {
		padding-top: 50px
	}
}

.is-prev .c-carousel-header_quote_text {
	transform: translateX(-100%)
}

.has-dom-animated .is-current .c-carousel-header_quote_text,
.has-dom-animated .slick-active .c-carousel-header_quote_text {
	transform: translateX(0);
	transition-delay: .15s
}

.c-carousel-header_quote_author {
	opacity: 0;
	transition: opacity .45s cubic-bezier(.4, 0, 0, 1);
	margin-top: 35px;
	display: none
}

.c-carousel-header_quote_author a {
	font-family: Montserrat-Medium;
	position: relative;
	font-size: 18px;
	padding: 15px 70px 15px 15px;
	color: #37c592;
	border: 1px solid #fff;
	background-image: -webkit-linear-gradient(50deg, #fff 50%, transparent 50%);
	background-image: linear-gradient(50deg, #fff 50%, transparent 50%);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: 0;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	text-decoration: none;
	display: inline-block
}

.c-carousel-header_quote_author a.browzly {
	color: #eed00c
}

.c-carousel-header_quote_author a.blixer {
	color: #3c46a1
}

.c-carousel-header_quote_author a.dhanuka {
	color: #0ea061
}

.c-carousel-header_quote_author a.bjp {
	color: #eb8f1a
}

.c-carousel-header_quote_author a.visionrpro {
	color: #0056b8
}

.c-carousel-header_quote_author a.sterkla {
	color: #de2f3f
}

@media (max-width:1220px) {
	.c-carousel-header_quote_author a {
		font-size: 16px;
		padding: 12px 60px 12px 12px
	}
}

.c-carousel-header_quote_author a:hover {
	background-position: 100%;
	color: #fff
}

.c-carousel-header_quote_author a span {
	position: absolute;
	width: 50px;
	top: 0;
	bottom: 0;
	right: 0;
	border-left: 1px solid #d4f2e8;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out
}

.c-carousel-header_quote_author a:hover span {
	border-left: 1px solid #fff
}

.c-carousel-header_quote_author a span i {
	position: absolute;
	width: 30px;
	height: 20px;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -15px;
	background: url(../images/appinfo/portfolio_arrow.png) no-repeat;
	background-size: 60px 20px;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out
}

.c-carousel-header_quote_author a.browzly span i {
	background: url(../images/appinfo/portfolio_arrow1.png) no-repeat;
	background-size: 60px 20px
}

.c-carousel-header_quote_author a.blixer span i {
	background: url(../images/appinfo/portfolio_arrow2.png) no-repeat;
	background-size: 60px 20px
}

.c-carousel-header_quote_author a.dhanuka span i {
	background: url(../images/appinfo/portfolio_arrow3.png) no-repeat;
	background-size: 60px 20px
}

.c-carousel-header_quote_author a.bjp span i {
	background: url(../images/appinfo/portfolio_arrow4.png) no-repeat;
	background-size: 60px 20px
}

.c-carousel-header_quote_author a.visionrpro span i {
	background: url(../images/appinfo/portfolio_arrow5.png) no-repeat;
	background-size: 60px 20px
}

.c-carousel-header_quote_author a.sterkla span i {
	background: url(../images/appinfo/portfolio_arrow6.png) no-repeat;
	background-size: 60px 20px
}

.c-carousel-header_quote_author a:hover span i {
	background-position: -30px 0
}

@media (max-width:699px) {
	.c-carousel-header_quote_author {
		font-size: 13px;
		margin-top: 30px
	}
}

.has-dom-animated .is-current .c-carousel-header_quote_author,
.has-dom-animated .slick-active .c-carousel-header_quote_author {
	opacity: 1;
	transition-delay: .3s
}

.c-carousel-header-button {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

@media (max-width:999px) {
	.c-carousel-header-button {
		position: relative;
		z-index: 3;
		text-align: center
	}
}

@media (min-width:1000px) {
	.c-carousel-header-button {
		position: absolute;
		bottom: 4.5rem;
		left: 50%;
		margin: 1px
	}
}

.c-carousel-header_circle {
	transition: transform 1.2s cubic-bezier(.4, 0, 0, 1);
	border-color: transparent
}

@media (max-width:999px) {
	.c-carousel-header_circle {
		text-align: center;
		width: auto;
		display: none
	}
	.c-carousel-header_circle:before {
		display: none
	}
	.c-carousel-header_circle:after {
		position: absolute;
		top: 0;
		right: -24px;
		left: -24px;
		border-right: none;
		border-bottom: none;
		border-left: none;
		padding-bottom: 100%
	}
}

@media (min-width:1000px) {
	.c-carousel-header_circle {
		transform: translateX(-50%) rotate(-35deg)
	}
	.is-prev .c-carousel-header_circle {
		transform: translateX(-50%) rotate(90deg)
	}
	.has-dom-animated .is-current .c-carousel-header_circle,
	.has-dom-animated .slick-active .c-carousel-header_circle {
		transform: translateX(-50%) rotate(0)
	}
}

.c-carousel-header_circle:after {
	opacity: 0;
	transition-delay: .3s
}

.has-dom-animated .is-current .c-carousel-header_circle,
.has-dom-animated .slick-active .c-carousel-header_circle {
	border-color: hsla(0, 0%, 100%, .5)
}

.has-dom-animated .is-current .c-carousel-header_circle:after,
.has-dom-animated .slick-active .c-carousel-header_circle:after {
	opacity: 1
}

.c-carousel-header_avatar {
	transition: transform 1.2s cubic-bezier(.4, 0, 0, 1);
	transform: scale(0);
	z-index: 2
}

@media (max-width:699px) {
	.c-carousel-header_avatar {
		margin-top: 20px
	}
}

@media (min-width:700px) and (max-width:999px) {
	.c-carousel-header_avatar {
		margin-top: 30px
	}
}

@media (max-width:999px) {
	.c-carousel-header_avatar {
		display: inline-block
	}
}

@media (min-width:1000px) {
	.c-carousel-header_avatar {
		position: absolute;
		top: 50%;
		right: -3.3125rem;
		margin-top: -3.3125rem
	}
}

.has-dom-animated .is-current .c-carousel-header_avatar,
.has-dom-animated .slick-active .c-carousel-header_avatar {
	transform: scale(1)
}

.c-carousel-header-arrow {
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 50px;
	border-radius: 50%;
	z-index: 9;
	border: 0;
	background-color: transparent;
	outline: 0
}

.c-carousel-header-arrow span.arrow {
	position: absolute;
	content: '';
	left: 50%;
	top: 50%;
	width: 20px;
	height: 16px;
	margin-top: -8px;
	margin-left: -10px;
	background: url(../images/digital_nav_arrow.png) no-repeat;
	background-size: 20px 64px;
	-webkit-transition: all .4s linear;
	transition: all .4s linear
}

.c-carousel-header-arrow span.arrow.prev {
	transform: rotate(180deg)
}

.c-carousel-header-arrow.-prev {
	right: 180px
}

@media (max-width:699px) {
	.c-carousel-header-arrow {
		margin-top: 44px
	}
}

@media (min-width:700px) and (max-width:999px) {
	.c-carousel-header-arrow {
		margin-top: -100px
	}
}

@media (max-width:999px) {
	.c-carousel-header-arrow.-next {
		right: 0
	}
}

@media (min-width:1000px) {
	.c-carousel-header-arrow.-next {
		right: 120px
	}
}

.c-carousel-header-arrow svg {
	position: relative;
	fill: #fff;
	width: 2.1875rem;
	height: 2.1875rem;
	transition: fill .45s cubic-bezier(.4, 0, 0, 1)
}

.c-carousel-header-arrow:hover:before {
	transform: scale(1)
}

.c-carousel-header-arrow:hover svg {
	fill: #1e1f21
}

.c-carousel-header_background,
.c-carousel-header_background-small {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: transform .6s cubic-bezier(.55, .085, .68, .53), opacity .6s cubic-bezier(.55, .085, .68, .53);
	transition-delay: 0s, .9s;
	opacity: 0
}

.has-dom-animated .c-carousel-header_slide.is-current .c-carousel-header_background,
.has-dom-animated .c-carousel-header_slide.is-current .c-carousel-header_background-small,
.has-dom-animated .c-carousel-header_slide.slick-active .c-carousel-header_background,
.has-dom-animated .c-carousel-header_slide.slick-active .c-carousel-header_background-small {
	transform: scale(1) rotate(0);
	opacity: 1;
	transition-duration: 1.2s;
	transition-delay: .45s;
	transition-timing-function: cubic-bezier(.23, 1, .32, 1)
}

.c-carousel-header_background-wrap {
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	padding-top: 9rem;
	overflow: hidden;
	backface-visibility: hidden
}

.c-carousel-header_slide:not(.slick-active) .c-carousel-header_background-wrap {
	transform: none!important;
	transition: transform .45s cubic-bezier(.4, 0, 0, 1)
}

.has-promo .c-carousel-header_background-wrap {
	margin-top: 2.25rem
}

.c-carousel-header_background {
	transform: scale(1.4) rotate(10deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.is-prev .c-carousel-header_background {
	transform: scale(1.4) rotate(-10deg)
}

.c-carousel-header_background-small {
	top: -9rem;
	right: -9rem;
	bottom: -4.5rem;
	left: -9rem;
	transform: scale(1.2) rotate(-5deg)
}

.is-prev .c-carousel-header_background-small {
	transform: scale(1.4) rotate(-10deg)
}

@media (max-width:999px) {
	.c-carousel-header_layout {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		text-align: center
	}
}

@media (max-width:999px) {
	.c-carousel-header_layout_item {
		position: static!important
	}
}

.c-carousel-info {
	position: relative;
	padding-top: 9rem
}

.c-carousel-info .slick-dots {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 0
}

.c-carousel-info .slick-track {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: stretch;
	align-items: stretch
}

.c-carousel-info_header {
	background-color: #dddde1
}

blockquote {
	border-left: 0
}

@media (max-width:699px) {
	.c-carousel-info_header {
		margin-left: -24px;
		margin-right: -24px;
		padding-bottom: 19px
	}
}

@media (max-width:999px) {
	.c-carousel-info_header {
		padding-left: 24px;
		padding-right: 24px
	}
}

@media (min-width:1000px) {
	.c-carousel-info_header {
		height: 6.875rem
	}
}

.c-carousel-info_header_button {
	text-align: left
}

.c-carousel-info_header_label,
.c-carousel-info_header_number {
	display: block
}

@media (min-width:1000px) {
	.c-carousel-info_header_label,
	.c-carousel-info_header_number {
		padding: 0 20%
	}
	.c-carousel-info_header_button:first-child .c-carousel-info_header_label,
	.c-carousel-info_header_button:first-child .c-carousel-info_header_number {
		padding-left: 4.5rem
	}
	.c-carousel-info_header_button:last-child .c-carousel-info_header_label,
	.c-carousel-info_header_button:last-child .c-carousel-info_header_number {
		padding-right: 2.25rem
	}
}

.c-carousel-info_header_number {
	position: relative
}

@media (max-width:999px) {
	.c-carousel-info_header_number {
		padding-top: 15px;
		padding-bottom: 15px
	}
}

@media (min-width:1000px) {
	.c-carousel-info_header_number {
		padding-top: 1.25rem;
		padding-bottom: .4375rem;
		border-bottom: 1px solid #b4b5ba
	}
}

.c-carousel-info_header_number:after {
	content: "";
	position: absolute;
	right: 0;
	bottom: -2px;
	left: 0;
	border-bottom: 2px solid #3a3c44;
	transform: scaleX(1);
	transition: transform .45s cubic-bezier(.4, 0, 0, 1);
	transform-origin: center left
}

.c-carousel-info_header_button.is-current~.c-carousel-info_header_button .c-carousel-info_header_number:after {
	transform: scaleX(0)
}

.c-carousel-info_header_label {
	font-size: .9375rem;
	font-weight: 500;
	padding-top: .9375rem;
	line-height: 1
}

@media (max-width:999px) {
	.c-carousel-info_header_label {
		display: none
	}
}

@media (max-width:699px) {
	.c-carousel-info_main {
		margin-top: -17px
	}
}

@media (min-width:700px) {
	.c-carousel-info_main {
		margin-top: -5.625rem
	}
}

.c-carousel-info_slide {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	margin-bottom: 1.375rem;
	height: auto;
	float: none
}

@media (max-width:699px) {
	.c-carousel-info_slide {
		padding: 0 24px;
		padding-bottom: 20px;
		padding-top: 140px
	}
}

@media (min-width:700px) {
	.c-carousel-info_slide {
		padding: 0 4.5rem;
		padding-bottom: 3.4375rem
	}
}

.c-carousel-info_slide.slick-slide,
.c-carousel-info_slide:first-child {
	position: relative
}

@media (min-width:700px) {
	.c-carousel-info_text {
		padding-top: 5.625rem
	}
}

@media (min-width:1000px) {
	.c-carousel-info_text {
		padding-bottom: 7.5rem;
		width: 40%
	}
}

@media (min-width:1000px) {
	.c-carousel-info_image {
		width: 60%
	}
}

.c-carousel-info_image img {
	width: 100%
}

.c-carousel-info_title {
	font-size: 1.125rem;
	letter-spacing: .15em;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 1.44444;
	margin-bottom: 1.875rem
}

@media (max-width:699px) {
	.c-carousel-info_arrows {
		position: absolute;
		top: 180px;
		left: 0;
		padding-left: 24px;
		padding-top: 45px;
		padding-bottom: 30px;
		margin-top: -17px
	}
}

@media (min-width:700px) {
	.c-carousel-info_arrows {
		background-color: #fff;
		padding-top: 3.4375rem;
		padding-bottom: 1.875rem;
		padding-left: 4.5rem
	}
}

.c-carousel-info_arrow {
	position: relative;
	z-index: 2;
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

@media (max-width:699px) {
	.c-carousel-info_arrow {
		margin-right: 40px
	}
}

@media (min-width:700px) {
	.c-carousel-info_arrow {
		margin-right: 4.6875rem
	}
}

.c-carousel-info_arrow svg {
	display: inline-block;
	width: 2.1875rem;
	height: 2.1875rem;
	fill: #c3c3d2;
	transition: fill .3s cubic-bezier(.4, 0, 0, 1), transform .3s cubic-bezier(.4, 0, 0, 1);
	transform: translateX(0)
}

.c-carousel-info_arrow:hover svg {
	fill: #1e1f21
}

.c-carousel-info_arrow:hover.-prev svg {
	transform: translateX(-.625rem)
}

.c-carousel-info_arrow:hover.-next svg {
	transform: translateX(.625rem)
}

.c-carousel-info_icon {
	position: absolute
}

@media (max-width:999px) {
	.c-carousel-info_icon {
		top: 24px;
		right: 24px;
		z-index: 2
	}
	.c-carousel-info_icon svg {
		width: 140px;
		height: 80px
	}
}

@media (min-width:1000px) {
	.c-carousel-info_icon {
		bottom: -1.375rem;
		left: 4.5rem
	}
	.c-carousel-info_icon svg {
		width: 17.5rem;
		height: 10rem
	}
}

.c-carousel-info_icon svg {
	fill: #afafc3
}

.c-carousel-articles .slick-list {
	overflow: visible!important
}

.c-carousel-articles_slide {
	opacity: .15;
	transition: opacity .45s cubic-bezier(.4, 0, 0, 1);
	position: absolute;
	top: 0;
	right: 0;
	left: 0
}

.c-carousel-articles_slide.slick-slide,
.c-carousel-articles_slide:first-child {
	position: relative;
	top: auto;
	right: auto;
	left: auto
}

.c-carousel-articles_slide.slick-active {
	opacity: 1
}

@media (max-width:699px) {
	.c-carousel-articles_slide .c-post-link {
		padding: 0 4px
	}
}

.c-aside-link {
	position: absolute;
	top: 50%;
	right: 3.9375rem;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .15em;
	font-size: 12px;
	transform: translateY(-50%);
	z-index: 900;
	border: 0;
	outline: 0;
	background-color: transparent;
	transition: opacity .3s cubic-bezier(.4, 0, 0, 1)
}

@media (max-width:699px) {
	.c-aside-link {
		display: none
	}
}

.c-aside-link:hover {
	color: #fff
}

.c-aside-link:after,
.c-aside-link:before {
	content: "";
	position: absolute;
	top: -.25em;
	right: .9375em;
	bottom: -.25em;
	left: 0;
	background-color: #edd2bb;
	transform: scaleY(0);
	transition: transform .45s cubic-bezier(.4, 0, 0, 1)
}

.c-aside-link:before {
	transform-origin: center bottom
}

.c-aside-link:after {
	transform-origin: center top
}

.c-aside-link.is-inpage {
	color: #1e1f21
}

.c-aside-link.is-inpage:before {
	transform: scaleY(1);
	transition-delay: .45s
}

.c-aside-link.is-inpage:hover:before {
	transform: scaleY(0);
	transition-delay: 0s
}

.c-aside-link.is-inpage:hover:after {
	transform: scaleY(1);
	transition-delay: .3s
}

[data-template="dashboard.home"] .c-aside-link {
	display: none
}

.c-aside-link span {
	display: inline-block;
	position: relative;
	z-index: 2;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	text-orientation: mixed
}

.has-nav-open .c-aside-link {
	color: #fff!important
}

.has-nav-open .c-aside-link:before {
	transform: scaleY(0)!important
}

[hidden][aria-hidden=false] {
	position: absolute;
	display: inherit;
	clip: rect(0, 0, 0, 0)
}

[hidden][aria-hidden=false]:focus {
	clip: auto
}

.u-screen-reader-text {
	position: absolute!important;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	border: 0
}

@media not print {
	.u-screen-reader-text\@screen {
		position: absolute!important;
		overflow: hidden;
		clip: rect(0 0 0 0);
		margin: 0;
		padding: 0;
		width: 1px;
		height: 1px;
		border: 0
	}
}

.u-screen-reader-text.-focusable:active,
.u-screen-reader-text.-focusable:focus {
	clip: auto;
	width: auto;
	height: auto
}

@media (min-width:700px) {
	.u-1\/2\@from-small {
		width: 50%
	}
}

@media (min-width:700px) {
	.u-1\/3\@from-small {
		width: 33.33333%
	}
}

@media (min-width:1000px) {
	.u-1\/3\@from-medium {
		width: 33.33333%
	}
}

@media (min-width:700px) {
	.u-1\/5\@from-small {
		width: 20%
	}
}

@media (max-width:699px) {
	.u-2\/3\@to-small {
		width: 66.66667%
	}
}

@media (min-width:700px) {
	.u-2\/3\@from-small {
		width: 66.66667%
	}
}

@media (min-width:700px) and (max-width:1199px) {
	.u-3\/4\@to-large {
		width: 75%
	}
}

@media (min-width:1200px) {
	.u-2\/3\@from-large {
		width: 66.66667%
	}
}

@media (min-width:1000px) {
	.u-1\/2\@from-medium {
		width: 50%
	}
}

@media (min-width:700px) and (max-width:999px) {
	.u-1\/4\@medium {
		width: 25%!important
	}
}

@media (min-width:700px) and (max-width:999px) {
	.u-3\/4\@medium {
		width: 75%!important
	}
}

.u-anim {
	transform: translateY(-120px);
	transition: opacity .6s cubic-bezier(.25, .46, .45, .94) 1s, transform .6s cubic-bezier(.25, .46, .45, .94) 1s;
	opacity: 0
}

.has-dom-animated .u-anim {
	opacity: 1;
	transition: .6s;
	transform: translateY(0)
}

.has-dom-animated .u-anim.-delay-1 {
	transition-delay: .15s
}

.has-dom-animated .u-anim.-delay-2 {
	transition-delay: .3s
}

.has-dom-animated .u-anim.-delay-3 {
	transition-delay: .45s
}

.arrowCircle {
	position: absolute;
	width: 400px;
	height: 400px;
	right: -80px;
	bottom: -180px;
	border: 1px solid;
	border-radius: 50%;
	border-color: rgba(255, 255, 255, .2);
	z-index: 1
}

@media(max-width:1800px) {
	.arrowCircle {
		width: 360px;
		height: 360px;
		right: -70px
	}
}

@media (max-width:1320px) {
	.arrowCircle {
		width: 320px;
		height: 320px;
		right: -60px
	}
	.c-carousel-header-arrow {
		bottom: 30px
	}
}

.arrowTopCircle {
	position: absolute;
	width: 500px;
	height: 500px;
	right: -60px;
	top: -140px;
	border: 1px solid;
	border-radius: 50%;
	border-color: rgba(255, 255, 255, .2);
	z-index: 1
}

@media(max-width:1600px) {
	.arrowTopCircle {
		width: 460px;
		height: 460px;
		top: -160px
	}
}

@media(max-width:1440px) {
	.arrowTopCircle {
		width: 420px;
		height: 420px;
		top: -160px
	}
}

@media(max-width:1320px) {
	.arrowTopCircle {
		width: 380px;
		height: 380px
	}
}

.applogoviews {
	margin: 0
}

.applogoviews img {
	width: 100%;
	height: auto;
	margin-bottom: 20px
}


/*App Slider Section End Here*/