@charset "UTF-8";

.scroll-top {
    width: 75px;
    height: 75px;
    position: fixed;
    font-size: 38px;
    bottom: 25px;
    left: 1500px;
    display: none;
    overflow: hidden;

}
.scroll-top i {
    display: inline-block;
    color: #0B5FF3;
    cursor: pointer;
}