@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body {
  background: #fff;
}

body {
  font-family: "Roboto", arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  color: #676767;
}
body.fh5co-overflow {
  overflow-x: auto;
}

body:before, body:after {
  content: "";
  position: fixed;
  background: #fef7ec;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 1002;
}
@media screen and (max-width: 768px) {
  body:before, body:after {
    display: none;
  }
}

body:before {
  top: 0;
}

body:after {
  bottom: 0;
}

body {
  border-left: 20px solid #fef7ec;
  border-right: 20px solid #fef7ec;
}
@media screen and (max-width: 768px) {
  body {
    border-left: 0;
    border-right: 0;
  }
}

::-webkit-selection {
  color: #fff;
  background: #f7c873;
}

::-moz-selection {
  color: #fff;
  background: #f7c873;
}

::selection {
  color: #fff;
  background: #f7c873;
}

a {
  color: #f7c873;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #f3ac2b;
}
a:hover, a:focus, a:active {
  color: #de930d;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", times, serif;
  color: #000;
  margin-bottom: 1.5em;
  clear: both;
}

p {
  margin-bottom: 2em;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Playfair Display", times, serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-md {
  padding: 10px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #f7c873;
  color: #fff;
  border: 2px solid #f7c873;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #f6bf5b !important;
  border-color: #f6bf5b !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #f7c873;
  border: 2px solid #f7c873;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #f7c873;
  color: #fff;
}

.btn-success {
  background: #58ca7e;
  color: #fff;
  border: 2px solid #58ca7e;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #45c46f !important;
  border-color: #45c46f !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #58ca7e;
  border: 2px solid #58ca7e;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #58ca7e;
  color: #fff;
}

.btn-info {
  background: #1784fb;
  color: #fff;
  border: 2px solid #1784fb;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #0477f4 !important;
  border-color: #0477f4 !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #1784fb;
  border: 2px solid #1784fb;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #1784fb;
  color: #fff;
}

.btn-warning {
  background: #fed330;
  color: #fff;
  border: 2px solid #fed330;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #fece17 !important;
  border-color: #fece17 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #fed330;
  border: 2px solid #fed330;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #fed330;
  color: #fff;
}

.btn-danger {
  background: #fb4f59;
  color: #fff;
  border: 2px solid #fb4f59;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #fa3641 !important;
  border-color: #fa3641 !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #fb4f59;
  border: 2px solid #fb4f59;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #fb4f59;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #f7c873;
}

#fh5co-logo {
  padding-top: 3.5em;
  text-align: center;
}
#fh5co-logo > a {
  position: relative;
  display: block;
  font-size: 50px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  height: 50px;
}
#fh5co-logo > a i, #fh5co-logo > a em {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  text-align: center;
  display: block;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-logo > a em {
  opacity: 0;
  visibility: hidden;
  font-size: 26px;
  top: 2px;
  font-family: "Playfair Display", times, serif;
}
#fh5co-logo > a:hover i {
  opacity: 0;
  visibility: hidden;
}
#fh5co-logo > a:hover em {
  opacity: 1;
  visibility: visible;
}

#fh5co-main {
  padding: 3.5em 0 7em 0;
}
@media screen and (max-width: 768px) {
  #fh5co-main {
    padding: 2em 0;
  }
}
#fh5co-main > .container {
  position: relative;
}

.fh5co-heading {
  margin-bottom: 1.5em;
}
.fh5co-heading.padding-right {
  padding-right: 1em;
}
@media screen and (max-width: 768px) {
  .fh5co-heading.padding-right {
    padding-right: 0em;
  }
}

.fh5co-intro {
  margin-bottom: 2em;
}
.fh5co-intro.padding-right {
  padding-right: 1em;
}
@media screen and (max-width: 768px) {
  .fh5co-intro.padding-right {
    padding-right: 0em;
  }
}
.fh5co-intro h1 {
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .fh5co-intro h1 {
    font-size: 20px;
  }
}
.fh5co-intro h1 a {
  font-size: 20px;
}

.fh5co-img {
  position: relative;
  background: #f2f2f2;
  float: left;
  width: 100%;
}

.fh5co-grid {
  position: relative;
}
.fh5co-grid .fh5co-col-1,
.fh5co-grid .fh5co-col-2 {
  width: 50%;
}
@media screen and (max-width: 480px) {
  .fh5co-grid .fh5co-col-1,
  .fh5co-grid .fh5co-col-2 {
    width: 100%;
  }
}
.fh5co-grid .fh5co-col-1.margintop,
.fh5co-grid .fh5co-col-2.margintop {
  margin-top: 29%;
}
.fh5co-grid .fh5co-col-1 img,
.fh5co-grid .fh5co-col-2 img {
  max-width: 100%;
}
.fh5co-grid .fh5co-col-1 .fh5co-item,
.fh5co-grid .fh5co-col-2 .fh5co-item {
  margin-bottom: .5em;
  float: left;
  width: 100%;
  position: relative;
  background: #f2f2f2;
}
.fh5co-grid .fh5co-col-1 .fh5co-item a,
.fh5co-grid .fh5co-col-2 .fh5co-item a {
  position: relative;
  display: block;
  overflow: hidden;
}
.fh5co-grid .fh5co-col-1 .fh5co-item a.image-popup h2,
.fh5co-grid .fh5co-col-2 .fh5co-item a.image-popup h2 {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.fh5co-grid .fh5co-col-1 .fh5co-item a .fh5co-item-text-wrap,
.fh5co-grid .fh5co-col-2 .fh5co-item a .fh5co-item-text-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.fh5co-grid .fh5co-col-1 .fh5co-item a .fh5co-item-text,
.fh5co-grid .fh5co-col-2 .fh5co-item a .fh5co-item-text {
  position: absolute;
  z-index: 99;
  text-align: center;
  top: 50%;
  width: 100%;
  vertical-align: middle;
  margin-top: -18px;
}
@media screen and (max-width: 768px) {
  .fh5co-grid .fh5co-col-1 .fh5co-item a .fh5co-item-text,
  .fh5co-grid .fh5co-col-2 .fh5co-item a .fh5co-item-text {
    margin-top: -12px;
  }
}
.fh5co-grid .fh5co-col-1 .fh5co-item a .fh5co-item-text h2,
.fh5co-grid .fh5co-col-2 .fh5co-item a .fh5co-item-text h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Roboto", arial, sans-serif;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .fh5co-grid .fh5co-col-1 .fh5co-item a .fh5co-item-text h2,
  .fh5co-grid .fh5co-col-2 .fh5co-item a .fh5co-item-text h2 {
    font-size: 20px;
  }
}
.fh5co-grid .fh5co-col-1 .fh5co-item a img,
.fh5co-grid .fh5co-col-2 .fh5co-item a img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.fh5co-grid .fh5co-col-1 .fh5co-item a:hover img,
.fh5co-grid .fh5co-col-2 .fh5co-item a:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.fh5co-grid .fh5co-col-1 .fh5co-item a:hover .fh5co-item-text-wrap,
.fh5co-grid .fh5co-col-2 .fh5co-item a:hover .fh5co-item-text-wrap {
  background: rgba(0, 0, 0, 0.2);
}
.fh5co-grid .fh5co-col-1 .fh5co-item a.image-popup:hover h2,
.fh5co-grid .fh5co-col-2 .fh5co-item a.image-popup:hover h2 {
  opacity: 1;
  visibility: visible;
}
.fh5co-grid .fh5co-col-1 {
  float: left;
  padding-right: .25em;
}
@media screen and (max-width: 480px) {
  .fh5co-grid .fh5co-col-1 {
    padding-right: 0em;
  }
}
.fh5co-grid .fh5co-col-2 {
  float: right;
  padding-left: .25em;
}
@media screen and (max-width: 480px) {
  .fh5co-grid .fh5co-col-2 {
    padding-left: 0em;
  }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.fh5co-social-wrap {
  padding: 0em 0 0 0;
  float: left;
}

.fh5co-social {
  padding: 0;
  margin: 30px 0 0 0;
  position: relative;
}
.fh5co-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.fh5co-social li a {
  font-size: 40px;
  padding: 4px;
  color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .fh5co-social li a {
    font-size: 26px;
  }
}
.fh5co-social li a:hover {
  color: #f3ac2b;
}

figure {
  margin-bottom: 1.5em;
}
figure figcaption {
  padding-top: 15px;
  font-size: 14px;
  color: #999999;
}

#fh5co-footer {
  padding: 3em 0 0 0em;
  float: left;
}
#fh5co-footer.padding-left {
  padding-left: 2em;
}
@media screen and (max-width: 480px) {
  #fh5co-footer.padding-left {
    padding-left: 0em;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-footer {
    padding: 2em 0 0 0;
  }
}

.js .animate-box {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    width: 100%;
    float: none;
  }
}
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  /*background: url('{{public/img/epic/hourglass.svg}}') center no-repeat #ffffff;*/
}

/*# sourceMappingURL=style.css.map */
