<!--Nodejs Developmentwrap Content Start Here-->
<div class="mobileappdevebanwrap iosdevlopment nodejs clearfix">
   <div class="appdevimgbx reactdev" data-aos="fade-in" data-aos-easing="ease-in-sine" data-aos-duration="600"> <img src=" https://www.techugo.com/assets/images/nodejsban.png" alt="phpban" /><span class="nodejslogo" data-aos="zoom-in-right" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-offset="0"></span></div>
   <div class="leftdescriptionbx">
      <span class="iosBrand nodedevelopment"><span class="apple"></span></span> 
      <h1 data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0">NODE.JS DEVELOPMENT</h1>
      <div class="sminfotbx nodejs" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0">We hold an established track record of crafting successful app solutions, which are feature rich, secured, scalable and voluble. Techugo has a skilled team of PHP developers and Node.JS developers and can develop the bespoke mobile apps.</div>
      <div class="iostheame">NODE.JS</div>
   </div>
</div>
<!--Building Real-Time Application Start Here--> 
<div class="react_business_mustpic nodejsbx">
   <div class="mainheadingbx" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0">BUILDING REAL-TIME APPLICATIONS</div>
   <div class="smtinfo" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0">PHP development is utilized further by the Fortune 500 companies for their desktop applications, real-time apps and web & mobile apps. It is an open source server framework and a complete package of Google’s V8 JavaScript engine, with a libuv platform abstraction layer and a core library written in JavaScript. </div>
</div>
<!--Building Real-Time Application End Here--> <!--Nodejs keyword Section Start Here--> 
<div class="nodejskeywordwrap">
   <div class="nodekeyrw clearfix">
      <div class="nodeglobbx" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0">
         <span class="pinkdashedbx"><i class="pinkdashed"></i><i class="gbb"></i></span> <span class="ndrtgr"></span> <span class="ndrtorange"></span> <span class="purpledashedbx"><i class="purpledashed"></i><i class="gbb1"></i></span> 
         <div class="globimgbx"></div>
      </div>
      <div class="nkeywordsoptions">
         <div class="unrivaledchecksbx">
            <div class="checkoprw">
               <div class="adchecknm" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0"><span class="flawless_app_features"></span>Has a great presence in IoT, cloud stacks, connected devices, and real-time web applications </div>
               <div class="downline" data-aos="zoom-out-right" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0"></div>
            </div>
            <div class="checkoprw">
               <div class="adchecknm" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0"><span class="impeccable_hardware"></span>For the data sensitive applications, it is the best choice</div>
               <div class="downline" data-aos="zoom-out-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0"></div>
            </div>
            <div class="checkoprw">
               <div class="adchecknm" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0"><span class="high-end-security"></span>Attain the robust enterprise application </div>
               <div class="downline" data-aos="zoom-out-right" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0"></div>
            </div>
            <div class="checkoprw">
               <div class="adchecknm" data-aos="zoom-out-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0"><span class="greensign"></span>It offers the exceptional web apps and APIs to be used with robots as well as micro controllers</div>
               <div class="downline" data-aos="zoom-out-right" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0"></div>
            </div>
            <div class="checkoprw">
               <div class="adchecknm" data-aos="zoom-out-right" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0"><span class="impeccable_hardware"></span>An open source, non-blocking I/O model, with an ability of building strong server side network web applications</div>
               <div class="downline" data-aos="zoom-out-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0"></div>
            </div>
            <div class="checkoprw">
               <div class="adchecknm" data-aos="zoom-out-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0"><span class="features_supports"></span>It is famous for developing the next gen, cross-platform, web and mobile applications</div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--Nodejs keyword Section End Here--> <!--Nodejs Business Must Pick It Section Start Here--> 
<div class="whyiossection nodepg clearfix">
   <div class="whyiosrtbox">
      <div class="first_circle" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="300">
         <div class="second_circle" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="400">
            <div class="imgbxx nodeimg" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="500"></div>
         </div>
      </div>
   </div>
   <div class="whysiOSContentbx">
      <div class="iosdetailsbx nodejsdetails">
         <h2 data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0">Why Your business must<br> pick it?</h2>
         <div class="smtinfo">
            <p data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0">With Node.js your business experiences the exceptional power to build faster and scalable real-time applications. Also it helps your business to streamline the back-end and front-end development, because it works on the Google V8 JavaScript engine to execute the code, and the maximum modules are written in JavaScript. </p>
            <p data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0">It further contains the built-in library, letting the applications to act as a Web server without using the software such as Apache HTTP Server or IIS. </p>
         </div>
      </div>
   </div>
</div>
<!--Nodejs Business Must Pick It Section End Here--> <!--Our Basket Section Start Here--> 
<div class="basketwrap">
   <div class="basketContent noejspg">
      <div class="row equalHMWrap eqWrap clearfix">
         <div class="col-sm-4">
            <span class="chainbdr_rt"></span> 
            <div class="basketinfobox nodejsfeatures" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="700" data-aos-offset="0">
               <div class="basketiconbx">
                  <div class="ball-scale-ripple-multiple">
                     <div></div>
                     <div></div>
                     <div></div>
                  </div>
                  <div class="shiconbx"> <span class="cross-platform"></span> </div>
               </div>
               <div class="basketdetails">
                  <h4>Combination of thousands of libraries</h4>
                  <div class="basketsminfo">Node Package Manager holds the thousands of open source libraries, which remove the stress of managing different libraries within a platform. </div>
               </div>
            </div>
         </div>
         <div class="col-sm-4"></div>
         <div class="col-sm-4">
            <span class="chainbdr_lt"></span><span class="chainbdr_rt"></span> 
            <div class="basketinfobox nodejsfeatures" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="700" data-aos-offset="0">
               <div class="basketiconbx">
                  <div class="ball-scale-ripple-multiple">
                     <div></div>
                     <div></div>
                     <div></div>
                  </div>
                  <div class="shiconbx"> <span class="nativeapp"></span> </div>
               </div>
               <div class="basketdetails">
                  <h4>Front & Back-end Development</h4>
                  <div class="basketsminfo">It is a perfect choice for other JavaScript-based technology, which not just expedites the back-end but speeds up your front-end application mechanism as well.</div>
               </div>
            </div>
         </div>
      </div>
      <div class="row equalHMWrap eqWrap clearfix">
         <div class="col-sm-4"><span class="chainbdr_lt"></span></div>
         <div class="col-sm-4">
            <span class="chainbdr_lt"></span><span class="chainbdr_rt"></span> 
            <div class="basketinfobox nodejsfeatures" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="700" data-aos-offset="0">
               <div class="basketiconbx">
                  <div class="ball-scale-ripple-multiple">
                     <div></div>
                     <div></div>
                     <div></div>
                  </div>
                  <div class="shiconbx"> <span class="codebase"></span> </div>
               </div>
               <div class="basketdetails">
                  <h4>Rich feature enabled</h4>
                  <div class="basketsminfo">The technology utilized within this, enables the various features with less number of resources to be accomplished faster. It is a perfect choice for the larger projects.</div>
               </div>
            </div>
         </div>
         <div class="col-sm-4"></div>
      </div>
      <div class="row equalHMWrap eqWrap clearfix">
         <div class="col-sm-4">
            <span class="chainbdr_rt"></span><span class="chainbdr_lt"></span> 
            <div class="basketinfobox nodejsfeatures" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="700" data-aos-offset="0">
               <div class="basketiconbx">
                  <div class="ball-scale-ripple-multiple">
                     <div></div>
                     <div></div>
                     <div></div>
                  </div>
                  <div class="shiconbx"> <span class="nativewidgets"></span> </div>
               </div>
               <div class="basketdetails">
                  <h4>Load handling capability</h4>
                  <div class="basketsminfo">You receive the high scalability to handle and manage the heavy application loads effortlessly.</div>
               </div>
            </div>
         </div>
         <div class="col-sm-4"></div>
         <div class="col-sm-4">
            <span class="chainbdr_lt"></span> 
            <div class="basketinfobox nodejsfeatures" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="700" data-aos-offset="0">
               <div class="basketiconbx">
                  <div class="ball-scale-ripple-multiple">
                     <div></div>
                     <div></div>
                     <div></div>
                  </div>
                  <div class="shiconbx"> <span class="liveupdates"></span> </div>
               </div>
               <div class="basketdetails">
                  <h4>Highly Secured</h4>
                  <div class="basketsminfo">It is the technology which comes along with the full reliability, robust features with a secured application structure, to give you a best product.</div>
               </div>
            </div>
         </div>
      </div>
      <div class="row equalHMWrap eqWrap clearfix">
         <div class="col-sm-4"><span class="chainbdr_lt"></span></div>
         <div class="col-sm-4">
            <span class="chainbdr_lt"></span><span class="chainbdr_rt"></span> 
            <div class="basketinfobox nodejsfeatures" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="700" data-aos-offset="0">
               <div class="basketiconbx">
                  <div class="ball-scale-ripple-multiple">
                     <div></div>
                     <div></div>
                     <div></div>
                  </div>
                  <div class="shiconbx"> <span class="interface"></span> </div>
               </div>
               <div class="basketdetails">
                  <h4>Enhance the Productivity </h4>
                  <div class="basketsminfo">You experience the faster development resulting into enhanced productivity level for your business, letting you attain best revenue generation model.</div>
               </div>
            </div>
         </div>
         <div class="col-sm-4"></div>
      </div>
   </div>
</div>
<!--Our Basket Section End Here--> <!--Techugo Revolutionize Start Here--> 
<div class="techugo_revolutionize nodejsbox">
   <div class="imagebx">
      <img src=" https://www.techugo.com/assets/images/pick_techugo.png" data-aos="zoom-out-right" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-offset="0" alt="picktechugo12" /> 
      <div class="sectiontitle">
         <div class="mainheadingbx" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0">Why Techugo</div>
         <div class="subheadingbx" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0">is an ideal choice for you?</div>
      </div>
   </div>
   <div class="smtinfo" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0">Techugo- a top mobile app development company offers the Node.js, Ionic development & web development services, since we know the way customers interact with the software has changed in the recent years and the current approach demands the successful integration of backend applications which are very fast, scalable and easy to deploy & maintain.</div>
</div>
<!--Techugo Revolutionize End Here--><!--Nodejs Services Section Start Here--> 
<div class="nodejsservices" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0">
   <div class="servicerws clearfix">
      <div class="ndserwd">
         <div class="sericonbx">
            <div class="serinbx"><span class="serversidedevelopment"></span></div>
            <div class="points_dottedbx">
               <div class="la-ball-elastic-dots la-dark">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
               </div>
            </div>
         </div>
         <div class="technms"><span class="numpos">01</span>We have the server-side development</div>
      </div>
      <div class="ndserwd">
         <div class="sericonbx">
            <div class="serinbx"><span class="nodejs"></span></div>
            <div class="points_dottedbx">
               <div class="la-ball-elastic-dots la-dark">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
               </div>
            </div>
         </div>
         <div class="technms"><span class="numpos">02</span>Offering the Node.js based API development </div>
      </div>
      <div class="ndserwd">
         <div class="sericonbx">
            <div class="serinbx"><span class="mysql"></span></div>
            <div class="points_dottedbx">
               <div class="la-ball-elastic-dots la-dark">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
               </div>
            </div>
         </div>
         <div class="technms"><span class="numpos">03</span>We utilize the databases such as MySQL, MongoDB (NoSQL), and Redis</div>
      </div>
      <div class="ndserwd">
         <div class="sericonbx">
            <div class="serinbx"><span class="cart"></span></div>
            <div class="points_dottedbx">
               <div class="la-ball-elastic-dots la-dark">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
               </div>
            </div>
         </div>
         <div class="technms"><span class="numpos">04</span>E-commerce & shopping cart development</div>
      </div>
      <div class="ndserwd">
         <div class="sericonbx">
            <div class="serinbx"><span class="mobiles"></span></div>
         </div>
         <div class="technms"><span class="numpos">05</span>Plug-in development</div>
      </div>
   </div>
</div>
<!--Nodejs Services Section End Here--> <!--Nodejs More Info Details Start Here--> 
<div class="mobileappdevewrap iphonepg">
   <div class="production_discussion nodejs">
      <div class="row equalHMWrap eqWrap clearfix">
         <div class="col-sm-2 lt_rt_bdr text-center">
            <div class="discussion_icon_bx affordable" data-aos="flip-left" data-aos-easing="ease-in-sine" data-aos-duration="600"> <span class="pro_dis"></span> </div>
         </div>
         <div class="col-sm-10 rt_row_bdr">
            <div class="productionCon clearfix">
               <h3 data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600">We Are Affordable</h3>
               <div class="productiondetails" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600">We offer app solution on-time and on-budget. We understand the worth of cost-effective app solutions, therefore help you craft an on-budget mobile app.</div>
            </div>
         </div>
      </div>
   </div>
   <div class="production_discussion nodejs marketing_insights">
      <div class="row equalHMWrap eqWrap clearfix">
         <div class="col-sm-2 lt_rt_bdr text-center">
            <div class="discussion_icon_bx" data-aos="flip-right" data-aos-easing="ease-in-sine" data-aos-duration="600"> <span class="marketing_insights"></span> </div>
         </div>
         <div class="col-sm-10 rt_row_bdr">
            <div class="productionCon clearfix">
               <h3 data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600">Support And Maintenance</h3>
               <div class="productiondetails" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600">We don’t believe in developing and dusting off our hands, rather we offer the full support to our clients, and help them to sail through seamlessly to get the best possible outcome through our built solution.</div>
            </div>
         </div>
      </div>
   </div>
   <div class="production_discussion nodejs analysis_wireframing">
      <div class="row equalHMWrap eqWrap clearfix">
         <div class="col-sm-2 lt_rt_bdr text-center">
            <div class="discussion_icon_bx" data-aos="flip-up" data-aos-easing="ease-in-sine" data-aos-duration="600"> <span class="wireframing"></span> </div>
         </div>
         <div class="col-sm-10 rt_row_bdr">
            <div class="productionCon clearfix">
               <h3 data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600">Leading UI/UX Designers</h3>
               <div class="productiondetails" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600">We are always passionate about our work, and don’t settle for anything less than perfect, this makes us grow constantly and evolve for the betterment of our skills. We study the cultural trends and the targeted audience, to proceed with designing.</div>
            </div>
         </div>
      </div>
   </div>
   <div class="production_discussion nodejs designing">
      <div class="row equalHMWrap eqWrap clearfix">
         <div class="col-sm-2 lt_rt_bdr text-center">
            <div class="discussion_icon_bx" data-aos="flip-down" data-aos-easing="ease-in-sine" data-aos-duration="600"> <span class="designing"></span> </div>
         </div>
         <div class="col-sm-10 rt_row_bdr">
            <div class="productionCon clearfix">
               <h3 data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600">QA Is Our Motto</h3>
               <div class="productiondetails" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600">Every single line of code written by our developers is Quality Assured from a team of analysts, who are paid just to figure out the glitches found in the technical coding.</div>
            </div>
         </div>
      </div>
   </div>
   <div class="production_discussion nodejs">
      <div class="row equalHMWrap eqWrap clearfix">
         <div class="col-sm-2 lt_rt_bdr text-center">
            <div class="discussion_icon_bx" data-aos="flip-left" data-aos-easing="ease-in-sine" data-aos-duration="600"> <span class="development"></span> </div>
         </div>
         <div class="col-sm-10 rt_row_bdr">
            <div class="productionCon clearfix">
               <h3 data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600">We Deliver Client Satisfaction</h3>
               <div class="productiondetails" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600">We very well know that unless our services our exceptionally good, it can never garner the attention of your end-users. Therefore, we practice best services to attain client satisfaction. </div>
            </div>
         </div>
      </div>
   </div>
   <div class="production_discussion nodejs testing">
      <div class="row equalHMWrap eqWrap clearfix">
         <div class="col-sm-2 lt_rt_bdr text-center">
            <div class="discussion_icon_bx" data-aos="flip-right" data-aos-easing="ease-in-sine" data-aos-duration="600"> <span class="testing"></span> </div>
         </div>
         <div class="col-sm-10 rt_row_bdr">
            <div class="productionCon clearfix">
               <h3 data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600">We Have Extensive Experience</h3>
               <div class="productiondetails" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600">Techugo team is filled with the experienced people who have different but diverse area of specialization in their respective domains like iOS & Android, BlackBerry, Windows & Wearable gear.</div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--Nodejs More Info Details End Here--> <!--Nodejs Development Features Section Start Here--> 
<div class="app_development_strategies nodejs">
   <span class="ltl"><i class="clrline"></i><i class="clrline top16H"></i><i class="clrline top32H"></i><i class="clrline top48H"></i><i class="clrline top64H"></i><i class="clrline top80H"></i></span> <span class="ltl rtl"><i class="clrline"></i><i class="clrline top16H"></i><i class="clrline top32H"></i><i class="clrline top48H"></i><i class="clrline top64H"></i><i class="clrline top80H"></i></span>
   <div class="mainheadingrows" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0">We are tech-nerds </div>
   <div class="subheadingrows pdlr" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-offset="0">And we are obsessed to create a seamless user-experience through the means of technology</div>
   <div class="appStrategiesCon">
      <span class="ltl"><i class="clrline"></i><i class="clrline top50H"></i><i class="clrline top100H"></i></span> <span class="ltl rtl"><i class="clrline"></i><i class="clrline top50H"></i><i class="clrline top100H"></i></span> 
      <div class="appStrow firstrw" data-aos="fade-in" data-aos-easing="ease-in-sine" data-aos-duration="2000">
         <div class="row clearfix">
            <div class="iosappoption research_design">
               <ul class="leftOpt">
                  <li><span></span>Concept development</li>
                  <li><span></span>Usability & Interface design</li>
                  <li><span></span>Prototyping</li>
               </ul>
            </div>
            <div class="halfCirclebox">
               <div id="numberbx">
                  <span class="numbx">01</span> 
                  <div class="halfclipCircle">
                     <div class="halfcircle clippedCircle"> </div>
                  </div>
                  <div class="halfcircle fixedCircle"> </div>
               </div>
               <div class="halfCircle">
                  <div class="lefthalfCircle"></div>
               </div>
            </div>
            <div class="headingrws">Research & Design</div>
         </div>
      </div>
      <div class="appStrow secrw" data-aos="fade-in" data-aos-easing="ease-in-sine" data-aos-duration="2000">
         <div class="row clearfix">
            <div class="headingrws">Developing Algorithms</div>
            <div class="halfCirclebox">
               <div id="numberbx1">
                  <span class="numbx">02</span> 
                  <div class="halfclipCircle">
                     <div class="halfcircle clippedCircle"> </div>
                  </div>
                  <div class="halfcircle fixedCircle"> </div>
               </div>
               <div class="halfCircle">
                  <div class="righthalfCircle"></div>
               </div>
            </div>
            <div class="iosappoption algorithms">
               <ul class="rightOpt">
                  <li><span></span>Follow "Right Mobile Math = Engaged Users"</li>
                  <li><span></span>Business aims, processes and procedures</li>
                  <li><span></span>API & middleware</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="appStrow thirdrw" data-aos="fade-in" data-aos-easing="ease-in-sine" data-aos-duration="2000">
         <div class="row clearfix">
            <div class="iosappoption testingdiv">
               <ul class="leftOpt">
                  <li><span></span>Test strategies Using Software Emulators</li>
                  <li><span></span>Fixing Issues and bugs</li>
                  <li><span></span>Evaluation on Functionality Guidelines</li>
               </ul>
            </div>
            <div class="halfCirclebox">
               <div id="numberbx2">
                  <span class="numbx">03</span> 
                  <div class="halfclipCircle">
                     <div class="halfcircle clippedCircle"> </div>
                  </div>
                  <div class="halfcircle fixedCircle"> </div>
               </div>
               <div class="halfCircle">
                  <div class="lefthalfCircle1"></div>
               </div>
            </div>
            <div class="headingrws">Testing</div>
         </div>
      </div>
      <div class="appStrow fourth" data-aos="fade-in" data-aos-easing="ease-in-sine" data-aos-duration="2000">
         <div class="row clearfix">
            <div class="headingrws">Launch & Ongoing Support</div>
            <div class="halfCirclebox">
               <div id="numberbx3">
                  <span class="numbx">04</span> 
                  <div class="halfclipCircle">
                     <div class="halfcircle clippedCircle"> </div>
                  </div>
                  <div class="halfcircle fixedCircle"> </div>
               </div>
               <div class="halfCircle">
                  <div class="righthalfCircle1"></div>
               </div>
            </div>
            <div class="iosappoption launch">
               <ul class="rightOpt">
                  <li><span></span>App Submission</li>
                  <li><span></span>Proactive monitoring</li>
                  <li><span></span>Guaranteed Response Time</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<!--Nodejs Development Features Section End Here-->