.pp-section {
	height: 100%;
	position: absolute;
	width: 100%;
	backface-visibility: hidden
}

.pp-easing {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
	will-change: transform
}

#pp-nav {
	position: fixed;
	z-index: 100;
	margin-top: -32px;
	top: 50%;
	opacity: 1
}

#pp-nav.right {
	right: 24px
}

#pp-nav.left {
	left: 17px
}

.pp-section.pp-table {
	display: table
}

.pp-tableCell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%
}

.pp-slidesNav {
	position: absolute;
	z-index: 4;
	left: 50%;
	opacity: 1
}

.pp-slidesNav.bottom {
	bottom: 17px
}

.pp-slidesNav.top {
	top: 17px
}

#pp-nav ul,
.pp-slidesNav ul {
	margin: 0;
	padding: 0
}

#pp-nav li,
.pp-slidesNav li {
	display: block;
	width: 14px;
	height: 14px;
	margin: 7px;
	list-style: none;
	margin-bottom: 12px;
	position: relative
}

.pp-slidesNav li {
	display: inline-block
}

#pp-nav li:nth-child(12),
#pp-nav li:nth-child(13),
#pp-nav li:nth-child(14),
#pp-nav li:nth-child(15),
#pp-nav li:nth-child(16),
#pp-nav li:nth-child(17),
#pp-nav li:nth-child(18),
#pp-nav li:nth-child(19),
#pp-nav li:nth-child(20),
#pp-nav li:nth-child(21) {
	display: none
}

body.tenthActivemenu #pp-nav li:nth-child(12),
body.tenthActivemenu #pp-nav li:nth-child(13),
body.tenthActivemenu #pp-nav li:nth-child(14),
body.tenthActivemenu #pp-nav li:nth-child(15),
body.tenthActivemenu #pp-nav li:nth-child(16),
body.tenthActivemenu #pp-nav li:nth-child(17),
body.tenthActivemenu #pp-nav li:nth-child(18),
body.tenthActivemenu #pp-nav li:nth-child(19),
body.tenthActivemenu #pp-nav li:nth-child(20),
body.tenthActivemenu #pp-nav li:nth-child(21) {
	display: block
}

body.tenthActivemenu #pp-nav li:nth-child(1),
body.tenthActivemenu #pp-nav li:nth-child(10),
body.tenthActivemenu #pp-nav li:nth-child(11),
body.tenthActivemenu #pp-nav li:nth-child(2),
body.tenthActivemenu #pp-nav li:nth-child(3),
body.tenthActivemenu #pp-nav li:nth-child(4),
body.tenthActivemenu #pp-nav li:nth-child(5),
body.tenthActivemenu #pp-nav li:nth-child(6),
body.tenthActivemenu #pp-nav li:nth-child(7),
body.tenthActivemenu #pp-nav li:nth-child(8),
body.tenthActivemenu #pp-nav li:nth-child(9) {
	display: none
}

#pp-nav li a,
.pp-slidesNav li a {
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	transition: opacity .25s ease
}

#pp-nav li a.active span,
.pp-slidesNav a.active span {
	background: #666;
	transform: rotate(-45deg);
	border: 2px solid #666
}

#pp-nav span,
.pp-slidesNav span {
	top: 2px;
	left: 2px;
	width: 10px;
	height: 10px;
	border: 2px solid rgba(255, 255, 255, .5);
	position: absolute;
	z-index: 1;
	transform: rotate(45deg);
	-webkit-transition: all .4s linear;
	transition: all .4s linear
}

body.lastviewh #pp-nav span {
	border: 2px solid #e9e8e8
}

body.lastviewh #pp-nav li:last-child span {
	border: 2px solid #20a8f2
}

.pp-tooltip {
	position: absolute;
	top: -2px;
	color: #fff;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	white-space: nowrap;
	max-width: 220px
}

.pp-tooltip.right {
	right: 20px
}

.pp-tooltip.left {
	left: 20px
}

.pp-scrollable {
	overflow-y: scroll;
	height: 100%
}

#mainfullpage,
#wrapper {
	height: 100vh!important
}

.section {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

/*.section:nth-of-type(1) {
	background-image: url(../images/portfolio/ava_port.jpg)
}

.section:nth-of-type(2) {
	background-image: url(../images/portfolio/bmf_port.jpg)
}

.section:nth-of-type(3) {
	background-image: url(../images/portfolio/sterkla_port.jpg)
}

.section:nth-of-type(4) {
	background-image: url(../images/portfolio/mfu_port.jpg)
}

.section:nth-of-type(5) {
	background-image: url(../images/portfolio/spjain_port.jpg)
}

.section:nth-of-type(6) {
	background-image: url(../images/portfolio/godfrey_port.jpg)
}

.section:nth-of-type(7) {
	background-image: url(../images/portfolio/bjp_port.jpg)
}

.section:nth-of-type(8) {
	background-image: url(../images/portfolio/airtel_port.jpg)
}

.section:nth-of-type(9) {
	background-image: url(../images/portfolio/visionr_pro_port.jpg)
}

.section:nth-of-type(10) {
	background-image: url(../images/portfolio/blixr_port.jpg)
}

.section:nth-of-type(11) {
	background-image: url(../images/portfolio/truefan_port.jpg)
}

.section:nth-of-type(12) {
	background-image: url(../images/portfolio/ssc_port.jpg)
}

.section:nth-of-type(13) {
	background-image: url(../images/portfolio/dhanuka_port.jpg)
}

.section:nth-of-type(14) {
	background-image: url(../images/portfolio/cancan_port.jpg)
}

.section:nth-of-type(15) {
	background-image: url(../images/portfolio/yip_port.jpg)
}

.section:nth-of-type(16) {
	background-image: url(../images/portfolio/aiffa_port.jpg)
}

.section:nth-of-type(17) {
	background-image: url(../images/portfolio/nds_port.jpg)
}

.section:nth-of-type(18) {
	background-image: url(../images/portfolio/bono_port.jpg)
}

.section:nth-of-type(19) {
	background-image: url(../images/portfolio/dilooni_port.jpg)
}*/

.section:nth-of-type(1) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(2) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(3) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(4) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(5) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(6) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(7) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(8) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(9) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(10) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(11) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(12) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(13) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(14) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(15) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(16) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(17) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(18) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.section:nth-of-type(19) {
	background-image: URL::to(public/img/saas/banner_bg.jpg)
}

.sectionheading {
	font-family: Impact;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #000;
	display: block;
	margin: auto;
	font-size: 72px;
	line-height: 72px;
	height: 72px;
	text-align: center;
	text-transform: uppercase;
	transform: scale(.9);
	transition: 0s .5s;
	transition-property: opacity, transform;
	will-change: transform
}

.section.active .sectionheading {
	opacity: 1;
	transform: scale(.999);
	transition: opacity .5s cubic-bezier(.5, 0, 1, 1) 375ms, transform 1.8s cubic-bezier(0, 0, .2, 1) 375ms
}

.portbtmbx {
	position: absolute;
	left: 80px;
	bottom: 50px
}

.portbtmbx .applogorw {
	float: left;
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out
}

.section.active .portbtmbx .applogorw {
	opacity: 1
}

.section.active .portbtmbx .applogorw {
	-webkit-transition-delay: .66s;
	transition-delay: .66s
}

.portbtmbx .applogorw img.ava {
	width: 94px;
	height: auto;
	margin-top: 5px
}

.portbtmbx .applogorw img.bmf {
	width: 62px;
	height: auto;
	margin-top: 8px
}

.portbtmbx .applogorw img.sterkla {
	width: 66px;
	height: auto;
	margin-top: 5px
}

.portbtmbx .applogorw img.spjain {
	width: 80px;
	height: auto;
	border-radius: 8px;
	margin-top: 5px
}

.portbtmbx .applogorw img.godfrey {
	width: 84px;
	height: auto
}

.portbtmbx .applogorw img.mfu {
	width: 68px;
	height: auto
}

.portbtmbx .applogorw img.bjp {
	width: 67px;
	height: auto
}

.portbtmbx .applogorw img.dhanuka {
	width: 70px;
	height: auto
}

.portbtmbx .applogorw img.aiffa {
	width: 55px;
	height: auto;
	margin-top: 4px
}

.portbtmbx .applogorw img.yip {
	width: 81px;
	height: auto
}

.portbtmbx .applogorw img.albacars {
	width: 80px;
	height: auto
}

.portbtmbx .applogorw img.visionpro {
	width: 64px;
	height: auto;
	margin-top: 5px
}

.portbtmbx .applogorw img.ftn {
	width: 60px;
	height: auto
}

.portbtmbx .applogorw img.lal10 {
	width: 54px;
	height: auto
}

.portbtmbx .applogorw img.nds {
	width: 52px;
	height: auto;
	margin-top: 10px
}

.portbtmbx .applogorw img.bono {
	width: 61px;
	height: auto;
	margin-top: 5px
}

.portbtmbx .applogorw img.bathalafunk {
	width: 70px;
	height: auto
}

.portbtmbx .applogorw img.cancan {
	width: 100px;
	height: auto
}

.portbtmbx .applogorw img.blixr {
	width: 50px;
	height: auto
}

.portbtmbx .applogorw img.truefan {
	width: 120px;
	height: auto;
	margin-top: 6px
}

.portbtmbx .applogorw img.dilloni {
	width: 67px;
	height: auto;
	margin-top: 4px
}

.portbtmbx .applogorw img.ssc {
	width: 87px;
	height: auto;
	margin-top: 18px
}

.portbtmbx .applogorw img.airtel {
	width: 66px;
	height: auto
}

.portbtmbx .appnamebx {
	float: left;
	margin-top: 6px;
	margin-left: 25px;
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out
}

.section.active .portbtmbx .appnamebx {
	opacity: 1
}

.section.active .portbtmbx .appnamebx {
	-webkit-transition-delay: .99s;
	transition-delay: .99s
}

.portbtmbx .appnamebx.mrg {
	margin-top: 0
}

.portbtmbx .appname {
	font-family: Montserrat, sans-serif;
	font-size: 24px;
	color: #fff;
	font-weight: 500
}

.letstalkAboutprojects {
	background: #20a8f2!important
}

.letstalkAboutprojects+section {
	background: #fff!important
}

.applinksrw {
	margin-top: 10px
}

.applinksrw.mrg5 {
	margin-top: 5px
}

.applinksrw .fa {
	font-family: FontAwesome!important;
	font-size: 32px;
	color: #fff;
	margin-right: 24px
}

.applinksrw .weblink {
	position: relative;
	top: 4px;
	width: 30px;
	height: 30px;
	background: url(../images/portfolio/web_link_icon.png) center center no-repeat;
	background-size: 28px 29px;
	display: inline-block;
	margin-right: 20px
}

.applinksrw .youtube {
	width: 35px;
	height: 27px;
	background: url(../images/portfolio/youtube_icon.png) no-repeat;
	background-size: 35px 27px;
	display: inline-block;
	-webkit-transition: all .4s linear;
	transition: all .4s linear
}

.navbar-default {
	background-color: transparent;
	box-shadow: none
}

.navbar-default .navbar-nav>li>a {
	color: #fff
}

.navbar-brand {
	background: url(../images/portfolio.png) no-repeat;
	background-size: 100% 100%
}

body.lastSection .navbar-brand,
body.lastviewh .navbar-brand {
	background: url(../images/portfolio.png) no-repeat;
	background-size: 100% 100%
}

body.lastSection .navbar-default .navbar-nav>li>a,
body.lastviewh .navbar-default .navbar-nav>li>a {
	color: #616161
}

body.lastSection #pp-nav span {
	border: 2px solid #e9e8e8
}

body.lastSection #pp-nav li a.active span {
	border: 2px solid #20a8f2
}

.social-circle i {
	font-family: FontAwesome!important;
	font-weight: 400!important
}

.section.alba+#pp-nav li:first-child {
	display: none
}

.section:nth-child(12),
.section:nth-child(13),
.section:nth-child(14),
.section:nth-child(15),
.section:nth-child(16),
.section:nth-child(17),
.section:nth-child(18),
.section:nth-child(19),
.section:nth-child(20),
.section:nth-child(21) {
	display: none
}

body.hidenextview .section:nth-child(12),
body.hidenextview .section:nth-child(13),
body.hidenextview .section:nth-child(14),
body.hidenextview .section:nth-child(15),
body.hidenextview .section:nth-child(16),
body.hidenextview .section:nth-child(17),
body.hidenextview .section:nth-child(18),
body.hidenextview .section:nth-child(19),
body.hidenextview .section:nth-child(20),
body.hidenextview .section:nth-child(21) {
	display: table
}

.portfoliopgviews .modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle
}

.portfoliopgviews .modal-body {
	padding: 0
}

.portfoliopgviews.modal {
	text-align: center;
	padding: 0!important
}

.portfoliopgviews.modal .modal-dialog {
	width: 954px
}

.portfoliopgviews.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px
}

.portfoliopgviews .close {
	position: absolute;
	width: 18px;
	height: 18px;
	top: -30px;
	right: 0;
	opacity: 1;
	z-index: 2;
	outline: 0;
	text-shadow: none;
	background: url(../images/modalclosebtn.png) no-repeat;
	background-size: 100% 100%
}

.portfoliopgviews .portfolio {
	padding: 0;
	height: 536px
}

.portfoliopgviews.modal .modal-dialog {
	width: 954px
}

.callusSales .fa-phone {
	font-family: FontAwesome!important;
	font-weight: 400!important
}

.companyaddressview {
	position: fixed;
	width: 0;
	height: 0;
	z-index: -9999;
	display: none!important
}

.section.letstalkAboutprojects .cols6th,
.section.letstalkAboutprojects .letstalkpCon .simpletxt,
.section.letstalkAboutprojects .letstheading,
.section.letstalkAboutprojects .touchrw {
	opacity: 1!important
}

.connectwclients {
	opacity: 1!important;
	transform: none!important
}

.portfolio_mob_view {
	display: none
}

@media screen and (max-width:1800px) {
	.portbtmbx {
		left: 60px
	}
}

@media screen and (max-width:1600px) {
	.sectionheading {
		font-size: 64px;
		line-height: 64px;
		height: 64px
	}
}

@media screen and (max-width:1220px) {
	.portbtmbx {
		left: 30px;
		bottom: 30px
	}
	.portfoliopgviews .portfolio {
		height: 420px
	}
	.portfoliopgviews.modal .modal-dialog {
		width: 740px
	}
	.sectionheading {
		font-size: 56px;
		line-height: 56px;
		height: 56px
	}
}

@media screen and (max-width:1023px) {
	.sectionheading {
		font-size: 50px;
		line-height: 50px;
		height: 50px;
		padding: 0 40px
	}
	.portbtmbx .appname {
		font-size: 21px
	}
	.portfoliopgviews .portfolio {
		height: 400px
	}
	.portfoliopgviews.modal .modal-dialog {
		width: 92%
	}
	.letstalkAboutprojects,
	.letstalkAboutprojects+section {
		height: 100vh!important
	}
	.connectwclients .ndschecktxt {
		padding-right: 20px
	}
}

@media screen and (max-width:767px) {
	.portbtmbx {
		left: 20px;
		bottom: 56px
	}
	.sectionheading {
		font-size: 32px;
		top: -56px;
		line-height: 40px;
		padding: 0 20px;
		padding-right: 40px
	}
	.portbtmbx .appname {
		font-size: 18px
	}
	.portbtmbx .appnamebx {
		margin-top: 3px;
		margin-left: 20px
	}
	.portbtmbx .applogorw img.ava,
	.portbtmbx .applogorw img.sterkla {
		width: 64px
	}
	.portbtmbx .applogorw img.bjp,
	.portbtmbx .applogorw img.mfu {
		width: 60px
	}
	.portbtmbx .applogorw img.godfrey {
		width: 56px
	}
	#pp-nav.right {
		right: 10px
	}
	.portfoliopgviews .portfolio {
		height: 280px
	}
	.section:nth-of-type(14),
	.section:nth-of-type(15),
	.section:nth-of-type(3),
	.section:nth-of-type(9) {
		background-position: right center
	}
	.section:nth-of-type(16) {
		background-position: -280px center
	}
	.portfolio_mob_view {
		display: block
	}
	.letstalkpCon {
		display: none!important
	}
	.sitemapmenu .menubox .navbar-nav>li>a {
		padding: 6px 0!important
	}
	.footerSitemapwrap .copyrtrw {
		margin-bottom: 5px!important
	}
	.sitemapmenu .menubox.com_heading {
		margin-bottom: 10px!important
	}
	.connectwclients {
		padding-right: 24px!important;
		margin-top: 45px!important
	}
	.connectwclients h3.headingbx {
		padding-top: 15px!important
	}
	.connectwclients .form-group {
		margin-top: 10px!important
	}
	.dmcarw {
		display: none!important
	}
	.sitemapmenu {
		padding-top: 20px
	}
	.underlinerw {
		margin-bottom: 20px!important
	}
	.connectwclients #fromName {
		padding: 8px 0!important;
		line-height: 24px!important
	}
	.connectwclients h3.headingbx {
		font-size: 24px!important
	}
	.connectwclients label {
		padding-bottom: 0!important
	}
	.letstheading span {
		margin-top: 0!important
	}
	.letstalkpCon .simpletxt {
		font-size: 15px!important;
		margin-top: 20px!important;
		line-height: 24px!important;
		margin-bottom: 10px!important
	}
	.touchrw {
		margin-bottom: 20px!important
	}
	.country_add {
		margin-bottom: 20px!important
	}
	.letstheading {
		font-size: 25px!important
	}
	.letstheading span {
		font-size: 28px!important
	}
}

@media screen and (max-width:380px) {
	.touchrw br {
		display: none!important
	}
	.sectionheading {
		font-size: 30px
	}
	.touchrw {
		font-size: 12px!important
	}
	.touchrw {
		margin-bottom: 15px!important
	}
	.letstalkpCon .simpletxt {
		font-size: 14px!important;
		margin-top: 15px!important;
		line-height: 22px!important
	}
	.letstalkpCon .country_add i.count_office_add {
		font-size: 12px!important
	}
	.country_add {
		margin-bottom: 10px!important
	}
	.companyaddressview .letstalkpCon {
		padding-top: 24px
	}
	.portbtmbx .applogorw img.godfrey {
		width: 52px
	}
	.portbtmbx .appnamebx {
		margin-top: 3px;
		margin-left: 15px
	}
	.connectwclients h3.headingbx {
		padding-top: 10px!important
	}
	.sitemapmenu .menubox .navbar-nav>li>a {
		padding: 4px 0!important
	}
}

@media screen and (max-width:359px) {
	.portbtmbx .appname span.textms {
		display: none
	}
	.portbtmbx .appnamebx {
		margin-left: 15px
	}
	.letstalkAboutprojects,
	.letstalkAboutprojects+section {
		position: relative;
		display: none!important;
		height: 0!important;
		transform: none!important
	}
	body.tenthActivemenu #pp-nav li:nth-child(20),
	body.tenthActivemenu #pp-nav li:nth-child(21),
	body.tenthActivemenu #pp-nav li:nth-child(22) {
		display: none
	}
}

@media screen and (max-device-height:480px) and (orientation:landscape) {
	.portbtmbx {
		left: 20px;
		bottom: 35px
	}
	.sectionheading {
		font-size: 32px;
		top: 0;
		line-height: 40px;
		padding: 0 20px;
		padding-right: 40px
	}
	.portbtmbx .appname {
		font-size: 18px
	}
	.portbtmbx .appnamebx {
		margin-top: 3px
	}
	.portbtmbx .applogorw img.ava,
	.portbtmbx .applogorw img.sterkla {
		width: 64px
	}
	.portbtmbx .applogorw img.bjp,
	.portbtmbx .applogorw img.mfu {
		width: 60px
	}
	.portbtmbx .applogorw img.godfrey {
		width: 72px
	}
	#pp-nav {
		display: none
	}
	.portfoliopgviews .portfolio {
		height: 280px
	}
	.section:nth-of-type(16) {
		background-position: center center
	}
	.letstalkAboutprojects,
	.letstalkAboutprojects+section {
		height: auto!important
	}
}